@font-face {
    font-family: Segoe_UI;
    src: url("../../../assets/web/fonts/SegoeUI/segoeui.ttf");
}

@font-face {
    font-family: Segoe_UI_Italic;
    src: url("../../../assets/web/fonts/SegoeUI/segoeuii.ttf");
}

@font-face {
    font-family: Segoe_UI_Bold;
    src: url("../../../assets/web/fonts/SegoeUI/segoeuib.ttf");
}

@font-face {
    font-family: Segoe_UI_Bold_Italic;
    src: url("../../../assets/web/fonts/SegoeUI/segoeuiz.ttf");
}

@font-face {
    font-family: Segoe_UI_Semibold;
    src: url("../../../assets/web/fonts/SegoeUI/seguisb.ttf");
}

@font-face {
    font-family: Segoe_UI_Sembiold_Italic;
    src: url("../../../assets/web/fonts/SegoeUI/seguisbi.ttf");
}

@font-face {
    font-family: Segoe_UI_light;
    src: url("../../../assets/web/fonts/SegoeUI/segoeuil.ttf");
}

@font-face {
    font-family: Segoe_UI_light_Italic;
    src: url("../../../assets/web/fonts/SegoeUI/seguili.ttf");
}

@font-face {
    font-family: Calibri;
    src: url("../../../assets/web/fonts/Calibri/calibri.ttf");
}

@font-face {
    font-family: Calibri_Light;
    src: url("../../../assets/web/fonts/Calibri/calibril.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../../../assets/web/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat_Bold;
    src: url("../../../assets/web/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat_Semibold;
    src: url("../../../assets/web/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Montserrat_Light;
    src: url("../../../assets/web/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: Bryant;
    src: url("../../../assets/web/fonts/Bryant/bryant-regular.ttf");
}

@font-face {
    font-family: Bryant_Medium;
    src: url("../../../assets/web/fonts/Bryant/bryant-medium.ttf");
}

@font-face {
    font-family: Bryant_Bold;
    src: url("../../../assets/web/fonts/Bryant/bryant-bold.ttf");
}

@font-face {
    font-family: Calibri_Regular;
    src: url("../../../assets/web/fonts/Calibri/calibri.ttf");
}

@font-face {
    font-family: ProximaNova_Regular;
    src: url("../../../assets/web/fonts/proxima/ProximaNova-Regular.otf");
}

@font-face {
    font-family: Sofia_Pro_Light;
    src: url("../../../assets/web/fonts/sofia/sofiapro-light.otf");
}