.table-sec {
    display: table;
}

.row-sec {
    display: table-row;
}

.column-sec {
    display: table-cell;
    vertical-align: top;
}

.header-search {
	position: relative;
	width: 100%;
	padding: 13px 0px 10px 0px;
	background-color: #24e2cf;
	box-shadow: 0 0 10px #9e9e9e;
    -webkit-box-shadow: 0 0 10px #9e9e9e;
    -moz-box-shadow: 0 0 10px #9e9e9e;
    -ms-box-shadow: 0 0 10px #9e9e9e;
    -o-box-shadow: 0 0 10px #9e9e9e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header-search .row {
	padding: 0 0;
	margin: 0 0;
}

.header-search select {
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    float: left;
    padding: 8px 0px;
    width: 100%;
    background-color: transparent;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.header-search select option {
    color: #000000;
}

.header-search .search-box {
	position: relative;
	width: 100%;
}

.header-search .search-box .icon-search {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
	padding: 0 0;
	margin: 5px 15px;
	color: rgba(255,255,255,1);
	font-size: 20px;
}

.header-search .search-box .icon-search {
    right: -8px;
    background-color: rgba(255,255,255,0.3);
    padding: 2px 10px 4px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    -webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
}

.header-search .search-box .icon-search:hover {
    background-color: rgba(0,0,0,0.1);
}

.header-search .search-box input[type="text"] {
	position: relative;
	margin: 0 0;
	border: 1px solid transparent;
	background-color: transparent;
	color: rgba(255,255,255,0.5);
	//background-color: rgba(255,255,255,0.16);
	background-color: rgba(255,255,255,0.3);
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 100%;
    padding: 11px 50px 9px 20px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 16px;
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
}

.header-search .search-box input[type="text"]:focus {
	color: #808080;
	background-color: #ffffff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.24);
	border: 1px solid rgba(0,0,0,0.12);
}

.header-search .search-box input[type="text"]:focus + .icon-search {
	color: #808080;
}

.header-search .search-box input[type="text"]:focus + .icon-search {
    color: #ffffff;
    background-color: rgba(36,226,207,1);
}

.header-search .search-box input[type="text"]:focus + .icon-search:hover {
    background-color: rgba(36,226,207,0.6);
}

.header-search .search-box input[type="text"]::placeholder {
    color: rgba(255,255,255,0.5);
}

.header-search .search-box input[type="text"]::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
}

.header-search .search-box input[type="text"]::-ms-input-placeholder {
    color: rgba(255,255,255,0.5);
}

.header-search .search-box input[type="text"]::-moz-placeholder {
    color: rgba(255,255,255,0.5);
}

.header-search .search-box input[type="text"]:focus::placeholder {
    color: #808080;
}

.header-search .search-box input[type="text"]:focus::-webkit-input-placeholder {
    color: #808080;
}

.header-search .search-box input[type="text"]:focus::-ms-input-placeholder {
    color: #808080;
}

.header-search .search-box input[type="text"]:focus::-moz-placeholder {
    color: #808080;
}

.header-search .select2-container {
}

.header-search .select2-container--default .select2-selection--single {
	border: none !important;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	-ms-border-radius: 2px !important;
	-o-border-radius: 2px !important;
	border-radius: 2px !important;
	float: left !important;
	padding: 8px 10px !important;
	width: 100% !important;
	background-color: rgba(255,255,255,0.3) !important;
	font-family: Roboto, RobotoDraft, Arial, sans-serif !important;
	font-weight: 500 !important;
	color: #ffffff !important;
	font-size: 20px !important;
	cursor: pointer !important;
}

.header-search .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #ffffff !important;
}

.header-search .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #ffffff transparent transparent transparent !important;
	border-style: solid !important;
	border-width: 10px 9px 0 9px !important;
	height: 0 !important;
	left: 50% !important;
	margin-left: -20px !important;
	margin-top: 3px !important;
	position: absolute !important;
	top: 50% !important;
}

.header-search .small-select .select2-container--default .select2-selection--single {
    padding: 0px 10px !important;
    font-size: 13px !important;
}

.header-search .small-select  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 8px 7px 0 7px !important;
    margin-top: -5px !important;
}

.header-search .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #ffffff !important; }

.header-search .switch {
	position: relative;
	float: left;
    margin: 3px 0;
    background-color: rgba(255,255,255,0.3);
    padding: 3px 3px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.header-search .switch .active {
    display: table-cell;
    font-size: 14px;
    color: #24e2cf;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
}

.header-search .switch .non-active {
    display: table-cell;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    padding: 5px 10px;
    cursor: pointer;
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
}

.header-search .search-type {
	position: fixed;
	bottom: 20px;
	left: 20px;
	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #24e2cf;
    color: #ffffff;
    height: 55px;
    width: 55px;
    font-size: 20px;
    padding: 12px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    -o-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
}

.header-search .search-type:hover {
	background-color: #24e2cf;
}

.header-search .search-type.search-location {
	background-color: #24e2cf;
}


section.search-sec {
    position: relative;
    width: 100%;
    padding: 0 0;
}


section.search-sec .content-search {
	position: relative;
	margin: 50px auto 100px auto;
	width: 100%;
	padding: 0 15px;
	max-width: 800px;
    min-height: 300px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align: center;
}

section.search-sec .content-search .loading-search {
	margin: 50px auto;
	color: #24e2cf;
	font-size: 50px;
}

section.search-sec .content-search .reload-search {
	margin: 50px auto;
	color: #e0e0e0;
	font-size: 50px;
}

section.search-sec .content-search .reload-search:hover {
    transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    color: #24e2cf;
    cursor: pointer;
}

section.search-sec .content-search .icon {
	position: relative;
	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #e0e0e0;
    color: #f8f8f8;
    text-shadow: 0 0 5px #9e9e9e;
    font-size: 150px;
    height: 230px;
    width: 230px;
    padding: 30px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

section.search-sec .content-search p.info {
	position: relative;
	margin: 5px 0;
	text-align: center;
    color: #757575;
    font-size: 16px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
}

section.search-sec .content-search h1.info {
	position: relative;
	margin: 10px 0;
	text-align: center;
    color: #757575;
    font-size: 20px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
}

section.search-sec .content-search .search {
	position: relative;
	float: left;
	width: 100%;
	padding: 0px 0px 100px 0px;
}


section.search-sec .content-search .alert {
    position: relative;
    border: 1px solid #ffe7e4;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #ffe7e4;
    padding: 10px 10px;
    color: #e63437;
    margin: 5px auto;
    text-align: center;
    font-size: 14px;
    max-width: 500px;
}

section.search-sec .content-search .alert .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #e63437;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    font-size: 10px;
}



.gridview {
    position: relative;
    float: left;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -ms-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -o-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    min-height: 240px;
    width: 235px;
    margin: 0 20px 20px 0;
    padding: 0 0 40px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
}

.gridview:hover {
    box-shadow: 0 0 0 2px #757575;
    -webkit-box-shadow: 0 0 0 2px #757575;
    -moz-box-shadow: 0 0 0 2px #757575;
    -ms-box-shadow: 0 0 0 2px #757575;
    -o-box-shadow: 0 0 0 2px #757575;
}

.gridview.color {
    background-color: #24e2cf;
}

.gridview.border {
    border: 1px solid #24e2cf;
}

.gridview.border:hover {
    box-shadow: 0 0 0 2px #24e2cf;
    -webkit-box-shadow: 0 0 0 2px #24e2cf;
    -moz-box-shadow: 0 0 0 2px #24e2cf;
    -ms-box-shadow: 0 0 0 2px #24e2cf;
    -o-box-shadow: 0 0 0 2px #24e2cf;
}

.gridview.profile {
    text-align: center;
}


.gridview .banner {
    position: relative;
    float: left;
    width: 100%;
    height: 100px !important;
}

.gridview .banner .bg-banner {
    position: relative;
    float: left;
    background-color: #24e2cf;
    width: 100%;
    height: 100px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.gridview .banner .bg-banner .banner-shape {
    position: absolute;
    right: 100px;
    width: 50px;
    height: 100%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: rgba(255,255,255,0.6);
}

.gridview .banner img {
    position: relative;
    float: left;
    max-height: 100px;
    max-width: 250px;
}

.gridview .photo {
    position: relative;
    float: left;
    margin: -30px 20px 5px 20px;
    border: none !important;
}

.gridview .photo img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #ffffff;
    max-height: 60px;
    max-width: 60px;
}

.gridview .photo .photo-image {
    font-size: 30px;
    padding-top: 5px;
    border: 2px solid #ffffff;
}


.gridview.profile img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #ffffff;
    height: 100px;
    width: 100px;
    margin: 20px auto 5px auto;
    background-color: #ffffff;
}

.gridview.profile .photo-image {
    border: 2px solid #ffffff;
    margin: 20px auto 5px auto;
    font-size: 58px;
}

.gridview.profile:hover {
    text-decoration: none !important;
}

.gridview.border .photo, .gridview.border.profile img, .gridview.border .photo, .gridview.border.profile .photo-image {
	border: 2px solid #24e2cf;
}

.gridview h1 {
    position: relative;
    float: left;
    width: 100%;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    margin: 0 0;
    padding: 0 20px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gridview.color h1 {
    color: rgba(255,255,255,0.87);
}

.gridview.profile h1 {
    text-align: center;
}

.gridview p {
    position: relative;
    float: left;
    width: 100%;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
    margin: 0 0;
    padding: 0 20px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 18px;
}

.gridview.color p {
    color: rgba(255,255,255,0.54);
}

.gridview.profile p {
    text-align: center;
}

.gridview .button-sec {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
}

.gridview .button-sec .button {
    font-size: 14px;
    color: #1ab1e5;
    border: none;
    background-color: transparent;
    margin: 0 0;
    padding: 3px 10px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-decoration: none;
}

.gridview .button-sec .button:hover {
    background-color: rgba(0,0,0,0.1);
}

.gridview .button-sec .button i {
	color: #81c630;
	margin: 0 5px 0 0;
}

.gridview.color .button-sec .button {
    color: rgba(255,255,255,0.87);
}

.gridview.profile .button-sec .button {
    margin: 0 auto;
}





section.profile-sec {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 0;
    margin-bottom: 100px;
}

section.profile-sec .content {
    position: relative;
    margin: 0 auto 100px auto;
    width: 100%;
    padding: 0 0;
    max-width: 800px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align: center;
}

section.profile-sec .content .banner {
    position: relative;
    background-color: #24e2cf;
    width: 100%;
    height: 300px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

section.profile-sec .content .banner .shape {
    position: absolute;
    right: 150px;
    width: 50px;
    height: 100%;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    background: rgba(255,255,255,0.6);
}

section.profile-sec .content .banner .button-sec {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 15px;
}

section.profile-sec .content .banner .button-sec .button {
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
    color: #000000;
    text-decoration: none;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}

section.profile-sec .content .banner .info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 15px;
}

section.profile-sec .content .banner .info .canvas {
    display: table-cell;
    vertical-align: top;
}

section.profile-sec .content .banner .info .canvas img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    height: 100px;
    width: 100px;
}

section.profile-sec .content .banner .info .canvas .photo-image {
    border: 2px solid #ffffff;
    font-size: 50px;
    padding-top: 10px;
}

section.profile-sec .content .banner .info .text {
    display: table-cell;
    padding-left: 14px;
}

section.profile-sec .content .banner .info .text h1 {
    text-align: left;
    margin: 0 0;
    font-size: 30px;
    color: #ffffff;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}

section.profile-sec .content .banner .info .text p {
    text-align: left;
    margin: 8px 0 0 0;
    font-size: 14px;
    color: #ffffff;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}

section.profile-sec .content .banner .info .text p i {
    margin-right: 5px;
}

section.profile-sec .content .banner-profile {
    position: relative;
    margin-top: 70px;
    background-color: #24e2cf;
    width: 100%;
    min-height: 280px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    text-align: center;
    padding: 0px 15px;
}

section.profile-sec .content .banner-profile .shape {
    position: absolute;
    right: 150px;
    width: 50px;
    height: 100%;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    background: rgba(255,255,255,0.6);
}

section.profile-sec .content .banner-profile .button-sec {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

section.profile-sec .content .banner-profile .button-sec .button {
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
    color: #000000;
    text-decoration: none;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
}

section.profile-sec .content .banner-profile .info {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    text-align: center;
}


section.profile-sec .content .banner-profile .info  img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #24e2cf;
    background-color: #ffffff;
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
}

section.profile-sec .content .banner-profile .info .photo-image {
    border: 2px solid #2daee5;
    font-size: 100px;
    padding-top: 5px;
    margin-bottom: 10px;
}

section.profile-sec .content .banner-profile .info h1 {
    text-align: center;
    margin: 0 0;
    font-size: 30px;
    color: #ffffff;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}

section.profile-sec .content .banner-profile .info p {
    text-align: center;
    margin: 8px 0 0 0;
    font-size: 14px;
    color: #ffffff;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}


section.profile-sec .content .info-sec {
    position: relative;
    float: left;
    margin: 5px 0 5px 0;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid transparent;
    padding: 0 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.26);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

section.profile-sec .content .info-sec.no-border {
    border: 1px solid transparent;
    box-shadow: none;
}

section.profile-sec .content .info-sec .header {
    margin-top: 10px;
    padding: 24px 24px 24px 24px;
}

section.profile-sec .content .info-sec .header h1 {
    text-align: left;
    margin: 0 0;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
}

section.profile-sec .content .info-sec .info {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 7px;
    padding: 0 24px 24px 24px;
}

section.profile-sec .content .info-sec .info .text {
    margin-top: 7px;
    margin-bottom: 16px; 
}

section.profile-sec .content .info-sec .info span {
    display: table-cell;
    padding: 0 16px 0 0;
    font-size: 25px;
    color: #9c9c9c;
    vertical-align: top;
    min-width: 50px;
    text-align: center;
}

section.profile-sec .content .info-sec .info p {
    text-align: left;
    display: table-cell;
    padding: 0 16px 0 0;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 16px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    width: 100%;
}

section.profile-sec .content .info-sec .info .list {
    position: relative;
    float: left;
    margin: 0 0 5px 0;
    background-color: #f5f5f5;
    padding: 10px 15px;
    font-size: 16px;
    color: rgba(0,0,0,1);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    margin-right: 5px;
}

section.profile-sec .content .action-sec {
    position: relative;
    float: left;
    margin-top: 10px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid transparent;
    padding: 0 0;
}

section.profile-sec .content .action-sec .header {
    text-align: left;
    margin: 0 0;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
}


section.profile-sec .content .action-sec .header-search {
    position: relative;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: #24e2cf;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    -ms-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    -o-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

section.profile-sec .content .action-sec .info {
    padding: 20px 15px;
    text-align: center;
}

section.profile-sec .content .action-sec .info h2 {
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 0 15px 0;
    font-size: 16px;
    color: rgba(0,0,0,0.54);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}


section.profile-sec .content .action-sec .info .loading-search {
    margin: 50px auto;
    color: #2daee5;
    font-size: 50px;
}

section.profile-sec .content .action-sec .info .reload-search {
    margin: 50px auto;
    color: #e0e0e0;
    font-size: 50px;
}

section.profile-sec .content .action-sec .info .reload-search:hover {
    transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    color: #2daee5;
    cursor: pointer;
}

section.profile-sec .content .action-sec .info .icon {
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #e0e0e0;
    color: #f8f8f8;
    text-shadow: 0 0 5px #9e9e9e;
    font-size: 40px;
    height: 80px;
    width: 80px;
    padding: 20px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

section.profile-sec .content .action-sec .info p.error {
    position: relative;
    margin: 5px 0;
    text-align: center;
    color: #757575;
    font-size: 16px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
}

section.profile-sec .content .action-sec .info h1.error {
    position: relative;
    margin: 10px 0;
    text-align: center;
    color: #757575;
    font-size: 20px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
}

section.profile-sec .content .action-sec .info .search {
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 0px 0px 0px;
}


.listview {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 8px 8px;
}

.listview:hover {
    //background-color: #e0e0e0;
}

.listview .canvas {
    display: table-cell;
}

.listview .canvas img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

.listview .canvas .photo-image {
    font-size: 30px;
    padding-top: 6px;
    margin-right: 15px;
}

.listview p {
    display: table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 0;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    vertical-align: top;
    text-align: left;
    width: 100%;
}

.listview p a {
    color: rgba(0,0,0,0.87);
    cursor: pointer;
}

.listview p a:hover {
    text-decoration: underline;
}


.listview p span {
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0,0,0,0.54);
}

.listview p i {
    font-size: 13px;
    color: rgba(0,0,0,0.54);
}

.listview p span.schedule {
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #1ab1e5;
}

.listview .button-sec {
    display: table-cell;
    vertical-align: top;
    padding: 10px 0;
    text-align: right;
}

.listview .button-sec .button {
    font-size: 14px;
    color: #046e89;
    border: 1px solid #d8f4f2;
    background-color: transparent;
    margin: 0 0;
    padding: 3px 10px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}

.listview .button-sec .button:hover {
    background-color: #f1fbfd;
}

.listview .button-sec .button i {
    color: #81c630;
    margin: 0 5px 0 0;
}


.modal-profile {
}

.modal-profile .close {
    text-shadow: none;
    color: #046e89 !important;
    font-size: 20px !important;
}

.modal-profile .modal-dialog {
    top: 0%;
}

.modal-profile .modal-content {
    position: relative;
    float: left;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 3px rgba(0,0,0,0.14);
}

.modal-profile .modal-header {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    background-color: #d8f4f2;
    //box-shadow: 0 4px 10px 3px rgba(0,0,0,0.14);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 10px 24px;
    min-height: 50px;
}

.modal-profile .modal-header .canvas {
    display: table-cell;
    vertical-align: top;
}

.modal-profile .modal-header .canvas img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #046e89;
    height: 60px;
    width: 60px;
}

.modal-profile .modal-header .canvas .photo-image {
    border: 2px solid #046e89;
    font-size: 30px;
    padding-top: 5px;
}

.modal-profile .modal-header h1 {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    padding: 0 16px;
    margin: 0 0;
    font-size: 20px;
    color: #046e89;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}

.modal-profile .modal-body {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    background-color: #ffffff;
    //box-shadow: 0 4px 10px 3px rgba(0,0,0,0.14);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 0 0;
}


.modal-profile .modal-body .header {
    padding: 24px 24px 24px 24px;
}

.modal-profile .modal-body .header h1 {
    text-align: left;
    margin: 0 0;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
}

.modal-profile .modal-body .info {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 7px;
    padding: 0 24px 24px 24px;
}

.modal-profile .modal-body .info .text {
    margin-top: 7px;
    margin-bottom: 16px; 
}

.modal-profile .modal-body .info span {
    display: table-cell;
    padding: 0 16px 0 0;
    font-size: 25px;
    color: #9c9c9c;
    vertical-align: top;
    min-width: 50px;
    text-align: center;
}

.modal-profile .modal-body .info p {
    text-align: left;
    display: table-cell;
    padding: 0 16px 0 0;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 16px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    width: 100%;
}

.modal-profile .modal-body .info .label {
    position: relative;
    float: left;
    margin: 0 5px 5px 0;
    background-color: #f5f5f5;
    padding: 10px 15px;
    font-size: 16px;
    color: rgba(0,0,0,1);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}

.modal-profile .modal-body .loading-sec {
    position: relative;
    width: 100%;
    text-align: center;
}

.modal-profile .modal-body .loading-sec .loading {
    margin: 0 auto;
    color: #2daee5;
    font-size: 50px;
}

.modal-profile .modal-body .loading-sec .reload {
    margin: 0 auto;
    color: #e0e0e0;
    font-size: 50px;
}

.modal-profile .modal-body .loading-sec .reload:hover {
    transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    color: #2daee5;
    cursor: pointer;
}


.modal-form {
}

.modal-backdrop{
    //background-color:rgba(0,0,0,0.12) !important;
    background-color:rgba(0,0,0,0.8) !important;
}

.modal-form .close {
    text-shadow: none;
    color: #000000 !important;
    font-size: 20px !important;
}

.modal-form .modal-dialog {
    top: 0%;
}

.modal-form .modal-content {
    background-color: transparent;
    box-shadow: none;
    background-color: #ffffff;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.modal-form .modal-header {
    margin: 0 0 0 0;
    background-color: #f7f7f7;
    padding: 25px 25px;
}

.modal-form .modal-header h1 {
    text-align: left;
    padding: 0 0;
    margin: 0 0;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
}

.modal-form .modal-body {
    margin: 0 0 10px 0;
    //box-shadow: 0 4px 10px 3px rgba(0,0,0,0.14);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 0 0;
}


.modal-form .modal-body h1 {
    text-align: left;
    margin: 0 0;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
}

.modal-form .modal-body  {
    width: 100%;
    padding: 25px 24px 10px 24px;
}

.modal-form .modal-body .left {
    text-align: left;
    display: table-cell;
    min-width: 50px;
}

.modal-form .modal-body .left i {
    position: relative;
    float: left;
    margin: 2px 0;
    font-size: 25px;
    color: #7a7a7a;
}

.modal-form .modal-body .right {
    display: table-cell;
    width: 100%;
    vertical-align: top;
}

.modal-form .modal-body label {
    position: relative;
    float: left;
    width: 100%;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    //color: #9e9e9e;
    color: #282f3d;
    font-size: 14px;
    margin: 0 0 !important;
    padding: 0 0 !important;
    text-align: left;
}

.modal-form .modal-body input[type="text"] {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 2px 0 !important;
    padding: 0 0 !important;
    border: 1px solid;
    color: #2e3543;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 16px;
    border-color: transparent transparent #f0f0f0 transparent; 
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    height: auto;
}

.modal-form .modal-body input[type="text"]:focus {
    margin: 0 0 !important;
    border: 2px solid;
    border-color: transparent transparent #24e2cf transparent; 
}


.modal-form .modal-body .has-error label {
    color: #d50000;
}

.modal-form .modal-body .has-error input[type="text"] {
    margin: 0 0 !important;
    border: 2px solid;
    border-color: transparent transparent #d50000 transparent; 
}

.modal-form .modal-body .has-error input[type="text"]:focus {
    margin: 0 0 !important;
    border: 2px solid;
    border-color: transparent transparent #d50000 transparent; 
}


.modal-form .modal-body .alert {
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid #ffe7e4;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #ffe7e4;
    padding: 10px 15px;
    color: #e63437;
    margin: 5px 0 10px 0;
    text-align: left;
    font-size: 14px;
}

.modal-form .modal-body .alert i {
    position: relative;
    float: left;
    margin: 2px 10px 2px 0;
    font-size: 18px;
}

.modal-form .modal-body .alert .remove {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #e63437;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    font-size: 10px;
    cursor: pointer;
}

.modal-form .modal-footer {
    padding: 0px 25px 10px 25px;
}


.btn-primary {
    width: auto;
    background: #1ab1e5;
    border: none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    color: #ffffff;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 0 10px 0;

    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    outline: none !important;
}

.btn-primary:hover, .btn-primary:active  {
    background: #1ab1e5 none repeat scroll 0 0;
    color: #ffffff;
    border-color:#1ab1e5;
}

.btn-primary.loading, .btn-primary.loading:hover, .btn-primary.loading:active  {
    padding-left: 10px;
    background: #1ab1e5 none repeat scroll 0 0;
    color: #ffffff;
    border-color:#1ab1e5;
}

.btn-primary.loading span {
    font-size: 12px;
    margin: 0 0;
    color: #ffffff;
}

.btn-secondary {
    width: auto;
    background: transparent;
    border: none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    color: #1d1d1d;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px ;
    margin: 0 5px 10px 5px;

     box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    outline: none !important;
}

.btn-secondary:hover {
    border-color: #e0e0e0;
    background: #e0e0e0 none repeat scroll 0 0;
}

section.form-sec {
    position: relative;
    width: 100%;
    padding: 0 0;
}

section.form-sec .info {
    position: relative;
    width: 100%;
    margin: 0 0;
}


section.form-sec .list {
    position: relative;
    float: left;
    width: 100%;
    padding: 4px 4px;
    text-decoration: none;
    margin-bottom: 20px;
}

section.form-sec a.list {
    cursor: pointer;
}

section.form-sec .list:hover {
    background-color: #f5f5f5;
}

section.form-sec .list .canvas {
    display: table-cell;
}

section.form-sec .list .canvas img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 12px;
}

section.form-sec .list .canvas .photo-image {
    margin-right: 12px;
}

section.form-sec .list p {
    display: table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    vertical-align: top;
    text-align: left;
    width: 100%;
}

section.form-sec .list p a {
    color: rgba(0,0,0,0.87);
    cursor: pointer;
}

section.form-sec .list p a:hover {
    text-decoration: underline;
}

section.form-sec .list .button-sec {
    display: table-cell;
    vertical-align: top;
    padding: 10px 0;
    text-align: right;
}

section.form-sec .list .button-sec .button {
    font-size: 14px;
    color: #2daee5;
    border: none;
    background-color: transparent;
    margin: 0 0;
    padding: 3px 10px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}

section.form-sec .list .button-sec .button:hover {
    background-color: rgba(0,0,0,0.1);
}

section.form-sec .list .button-sec .button i {
    color: #81c630;
    margin: 0 5px 0 0;
}

section.form-sec .content-form {
    position: relative;
    margin: 30px auto 100px auto;
    width: 100%;
    padding: 0 15px;
    max-width: 800px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align: center;
}

section.form-sec .content-form .form {
    position: relative;
    width: 100%;
    text-align: left;
}

section.form-sec .content-form .form .link {
    position: relative;
    float: left;
    font-size: 14px;
    color: #1ab1e5;
    border: none;
    background-color: transparent;
    padding: 3px 10px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}

section.form-sec .content-form .form .link:hover {
    background-color: rgba(0,0,0,0.1);
}

section.form-sec .content-form .form .link i {
    color: #81c630;
    margin: 0 5px 0 0;
}

section.form-sec .content-form h1 {
    text-align: left;
    margin: 0 0 30px 0;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
}

section.form-sec .content-form .form-group {
    position: relative;
    float: left;
    width: 100%;
}

section.form-sec .content-form h2 {
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    margin: 30px 0 15px 0;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}

section.form-sec .content-form .label {
    position: relative;
    float: left;
    margin: 0 0 5px 0;
    background-color: #f5f5f5;
    padding: 10px 15px;
    font-size: 16px;
    color: rgba(0,0,0,1);
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
}

section.form-sec .content-form .form .left {
    text-align: left;
    display: table-cell;
    min-width: 50px;
}

section.form-sec .content-form .form .left i {
    position: relative;
    float: left;
    margin: 2px 5px;
    font-size: 25px;
    color: #7a7a7a;
}

section.form-sec .content-form .form .right {
    display: table-cell;
    width: 100%;
    vertical-align: top;
}

section.form-sec .content-form .form label {
    position: relative;
    float: left;
    width: 100%;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    //color: #9e9e9e;
    color: #282f3d;
    font-size: 14px;
    margin: 0 0;
    padding: 0 0;
    text-align: left;
}

section.form-sec .content-form .form input[type="text"]:disabled {
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    color: rgba(0,0,0,0.87);
    padding: 5px 15px;
}

section.form-sec .content-form .form input[type="text"], section.form-sec .content-form .form select {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 5px 1px;
    border: 1px solid;
    color: #2e3543;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 16px;
    border-color: transparent transparent #f0f0f0 transparent; 
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    height: auto;
}

section.form-sec .content-form .form input[type="text"]:focus {
    margin: 0 0;
    border: 2px solid;
    padding: 4px 0;
    border-color: transparent transparent #24e2cf transparent; 
}


section.form-sec .content-form .form .alert {
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid #d8f4f2;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #d8f4f2;
    padding: 13px 40px 13px 20px;
    color: #3a3a3a;
    margin: 0 0 20px 0;
    text-align: left;
    font-size: 14px;
}

section.form-sec .content-form .form .alert i {
    position: relative;
    float: left;
    font-size: 18px;
    color: #1ab1e5;
    margin: 2px 10px 0 0;
}

section.form-sec .content-form .form .alert .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #b7c4ca;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    font-size: 16px;
}



.sf-radio, .sf-check {
    width: 100%;
    height: auto;
    padding: 1rem 0;
}
.sf-radio label, .sf-check label {
    position: relative;
    float: left;
    width: auto !important;
    display: inline-block;
    font-weight: 500;
    margin-right: 50px !important;
    margin-left: 0px;
    margin-top: 5px !important;
}
.sf-radio label input[type=radio], .sf-check label input[type=checkbox] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 10px
}
.sf-radio label input[type=radio]+span, .sf-check label input[type=checkbox]+span {
    margin: 0 5px 10px 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #cecece;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.sf-radio label input[type=radio]+span::after, .sf-check label input[type=checkbox]+span::after {
    content: "";
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms
}
.sf-radio label input[type=radio]:focus+span, .sf-check label input[type=checkbox]:focus+span, .sf-radio label input[type=radio]:active+span, .sf-check label input[type=checkbox]:active+span {
    border-color: #757575;
}
.sf-radio label input[type=radio]:checked+span::after, .sf-check label input[type=checkbox]:checked+span::after {
    opacity: 1
}
.sf-radio label input[type=radio].error+span, .sf-check label input[type=checkbox].error+span {
    border-color: #e2513f;
    border-width: 2px
}
.sf-radio label input[type=radio]+span {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.sf-radio label input[type=radio]+span::after {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #757575;
}
.sf-radio label input[type=radio]:checked+span::after {
    border: .2em solid #fff
}
.sf-check label input[type=checkbox]+span {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 5px #ddd;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd
}
.sf-check label input[type=checkbox]+span::after {
    margin-bottom: 4px;
    height: 45%;
    width: 75%;
    background-color: transparent;
    border: 0 solid #757575;
    vertical-align: bottom;
    -webkit-transform: rotate(-45deg) translate(50%, -75%);
    -moz-transform: rotate(-45deg) translate(50%, -75%);
    -ms-transform: rotate(-45deg) translate(50%, -75%);
    -o-transform: rotate(-45deg) translate(50%, -75%);
    transform: rotate(-45deg) translate(50%, -75%)
}
.sf-check label input[type=checkbox]:checked+span::after {
    border-left-width: .2em;
    border-bottom-width: .2em
}


.has-error .sf-radio label input[type=radio]+span, .has-error .sf-check label input[type=checkbox]+span {
    border: 2px solid #d50000;
}


.select2-container {
}

.select2-container--default .select2-selection--single {
    margin: 0 0 2px 0 !important;
    border: 1px solid !important;
    border-color: transparent transparent #f0f0f0 transparent !important; 
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    float: left !important;
    padding: 5px 0px !important;
    width: 100% !important;
    background-color: transparent !important;
    color: #2e3543 !important;
    font-family: Roboto, RobotoDraft, Arial, sans-serif !important;
    font-size: 16px !important;
    cursor: pointer !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 0 !important;
    color: #2e3543 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #757575 transparent transparent transparent !important;
    border-style: solid !important;
    border-width: 8px 7px 0 7px !important;
    height: 0 !important;
    left: 50% !important;
    margin-left: -10px !important;
    margin-top: 3px !important;
    position: absolute !important;
    top: 50% !important;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  border: 1px solid #f5f5f5 !important;
    background-color: #f5f5f5 !important;
    color: rgba(0,0,0,0.87) !important;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }


.has-error .select2-container--default .select2-selection--single {
    margin: 0 0 0 0 !important;
    border: 2px solid !important;
    border-color: transparent transparent #d50000 transparent !important; 
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    float: left !important;
    padding: 5px 0px !important;
    width: 100% !important;
    background-color: transparent !important;
    color: #2e3543 !important;
    font-family: Roboto, RobotoDraft, Arial, sans-serif !important;
    font-size: 16px !important;
    cursor: pointer !important;
}

.has-error .help-block {
    position: relative;
    float: left;
    width: 100%;
    color: #d50000;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 12px;
}

section.form-sec .content-form .form .has-error  label {
    color: #d50000;
}

section.form-sec .content-form .form .has-error  input[type="text"], section.form-sec .content-form .form .has-error select {
    border: 2px solid;
    padding: 4px 0;
    border-color: transparent transparent #d50000 transparent; 
}

section.form-sec .content-form .has-error .form input[type="text"]:focus {
    border: 2px solid;
    padding: 4px 0;
    border-color: transparent transparent #d50000 transparent; 
}












.pagination-sec {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}



.pagination a, .pagination a:hover  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #444444 !important;
    border: 1px solid #ededed !important;
    cursor: pointer !important;
}

.pagination a:hover  {
    background: #d8f4f2 !important;
}

.pagination .active a, .pagination .active a:hover  {
    border: 1px solid #ededed !important;
    background: #f1fbfd !important;
    color: #444444 !important;
}




.autocomplete {
    padding: 10px 10px !important;
}

.autocomplete img {
    position: absolute;
    max-width: 60px;
    max-height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.autocomplete .photo-image {
    position: absolute;
    font-size: 30px;
    line-height: 50px;
}

.autocomplete .text {
    padding-left: 65px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 60px;
}

.autocomplete h1 {
    color: #2daee5;
    font-size: 14px;
    font-weight: normal;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 500;
    margin: 0 0;
    padding: 0 0;
}

.autocomplete p {
    font-size: 12px;
    font-weight: normal;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    font-weight: 400;
    margin: 0 0;
    padding: 0 0;
}




.date-disabled .bootstrap-datetimepicker-widget table td,
.date-disabled .bootstrap-datetimepicker-widget table td:hover {
    color: #2daee5 !important;
    font-weight: bold !important;
}

.date-disabled .bootstrap-datetimepicker-widget table td.disabled,
.date-disabled .bootstrap-datetimepicker-widget table td.disabled:hover {
    color: #999999 !important;
    font-weight: normal !important;
}

.date-disabled .bootstrap-datetimepicker-widget table td.cw {
  font-weight: normal !important;
}
.date-disabled .bootstrap-datetimepicker-widget table td.old,
.date-disabled .bootstrap-datetimepicker-widget table td.new {
  font-weight: normal !important;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #2daee5 !important;
  color: #ffffff !important;
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #ffffff !important;
}


.photo-image {
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #046e89;
    color: #ffffff;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
    padding-left: 2px;
}


.error {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 10px;
}

.error h1 {
    position: relative;
    float: left;
    margin: 50px 0 10px 0;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
    color: rgba(0,0,0,0.75);
}

.error h2 {
    position: relative;
    float: left;
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-family:"Segoe UI Light",Segoe_UI_Light;
    color: rgba(0,0,0,0.75);
}

.error h3 {
    position: relative;
    float: left;
    margin: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-family:"Segoe UI Light",Segoe_UI_Light;
    color: rgba(0,0,0,0.75);
}

.error p {
    position: relative;
    float: left;
    margin: 30px 0 30px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family:"Segoe UI",Segoe_UI;
    color: rgba(0,0,0,0.75);
}

.error p a {
    color: #2daee5;
}












/*medigo*/
.account-top-bar {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    float: left;
    width: 100%;
}
.account-top-bar .container {
    border: 1px solid #000;
}
/*medigo*/
.account-header-link {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.account-header-link > li {
    float: left;
    margin-left: 35px;
}
/*medigo*/
.account-header-link > li > a {
    color: #046e89;
    float: left;
    font-family: Open Sans;
    font-size: 14px;
    letter-spacing: normal;
    padding: 22px 0;
    text-transform: capitalize;
    font-weight: 400;
}
/*medigo*/
.account-top-bar .logo {
    padding-left: 0;
}
.acount-sec {
    float: left;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
}
.account-detail {
    float: left;
    padding-top: 20px;
    width: 100%;
}
.account-detail > ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.account-detail > ul > li {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
/*medigo*/
.account-detail > ul > li > h3 {
    float: left;
    font-size: 19px;
    margin: 0 0 9px;
    width: 100%;
    color: #046e89;
}
.account-detail > ul > li > h3 > i {
    margin-right: 10px;
    width: 30px;
}
.account-detail > ul > li > p {
    color: #757575;
    float: left;
    margin: 0;
    padding-left: 46px;
    width: 100%;
    font-size: 14px;
}

.logo {
    float: left;
    min-width: 150px;
    padding: 18px 0 10px 50px;

    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}

.logo img {
    margin-top: -6px;
    max-height: 25px;
}

