@media (max-width: 1200px) {


}

@media (max-width:980px) {



}


@media (max-width: 767px) {
    header .bottom .content .button {
        display: none;
    }

    header .bottom .content .menu {
        display: block;
    }

    header .bottom .content nav .close {
        display: block;
    }

    header .bottom .content nav.show-nav {
        display: block;
    }

    header .bottom .content nav {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        margin: 0 0;
        display: none;
    }

    header .bottom .content nav ul {
        list-style-type:none;
        -o-list-style-type:none;
        position: relative;
        float: left;
        padding: 0 0;
        margin: 0 0;
        width: 100%;
    }

    header .bottom .content nav ul li {
        position: relative;
        float: left;
        width: 100%;
    }

    header .bottom .content nav ul li a {
        position: relative;
        float: left;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 1px solid #4dc7f5;
        text-align: left;
        padding: 10px 15px;
        font-size: 14px;
        font-family:"Segoe UI",Segoe_UI;
        color: #ffffff;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        background-color: #2daee5;
    }

    header .bottom .content ul li a:hover {
        background-color: #0095cc;
    }

    header.color .bottom .content ul li a:hover {
        background-color: #0095cc;
    }

    header .bottom .content nav ul li.hide-menu {
        display: block;
    }

    section.section-banner h1 {
        font-size: 46px;
        margin: 60px 0 10px 0;
    }

    section.section-banner p {
        font-size: 20px;
    }

    section.section-info .left {
        width: 100%;
    }

    section.section-info .left ul i {
        font-size: 30px;
        padding: 10px 20px;
    }

    section.section-info .left ul .text h1 {
        font-size: 16px;
    }

    section.section-info .left ul .text p {
        font-size: 14px;
    }

    section.section-info .right {
        display: none;
    }

    section.section-info .right i {
        display: none;
    }

    section.section-info .right img {
        display: none;
    }

    section.section-info .link-sec {
        padding: 10px 0px;
    }

    




    section.section-info-tab ul li {
        position: relative;
        float: left;
        min-width: auto;
        padding: 10px 10px;
    }

    section.section-info-tab ul i.icon {
        font-size: 20px;
    }

    section.section-info-tab ul li h1 {
        font-size: 14px;
    }

    section.section-info-tab ul i.arrow {
        font-size: 10px;
    }







    section.section-info-tab .content .slide .button {
        font-size: 12px;
        padding: 5px 10px;
        margin: 10px 10px;
    }

    section.section-info-tab .content .slide .main {
        padding: 10px 40px;
        min-height: 300px;
    }

    section.section-info-tab .content .slide .main .text {
        padding: 30px 10px 100px 10px;
        width: 100%;
    }

    section.section-info-tab .content .slide .main .text h1 {
        font-family:"Segoe UI Light",Segoe_UI_Light;
        font-size: 25px;
        line-height: 28px;
    }

    section.section-info-tab .content .slide .main .text p {
        font-size: 16px;
    }














    section.section-price .price {
        width: 250px;
        padding: 20px 30px;
    }

    section.section-price .price h1 {
        font-size: 30px;
        margin: 10px 0;
        padding: 0 20px;
    }

    section.section-price .price h3 {
        font-size: 70px;
        margin: 20px 0;
        padding: 0 20px;
    }

    section.section-price .price h5 {
        font-size: 14px;
        margin: 10px 0;
        padding: 0 20px;
    }

    section.section-price .price .btn-sec {
        margin: 40px 0;
    }

    section.section-price .price .btn-sec .button {
        font-size: 14px;
        padding: 10px 30px;
        margin: 10px 10px;
    }


    section.section-price .price ul li i {
        padding: 0 30px 0 0;
        font-size: 20px;
    }

    section.section-price .price ul li .icon {
        padding: 0 12px 0 0;
    }

    section.section-price .price ul li .icon span {
        padding: 2px 5px;
        font-size: 9px;
    }

    section.section-price .price ul li p {
        font-size: 13px;
    }

    section.section-color .bottom .content h1 {
        font-size: 50px;
    }

    section.section-color .bottom .content p {
        font-size: 25px;
    }

    section.section-color .animation {
        right: 10px;
        max-height: 200px;
        max-width: 200px;
    }

    section.section-color .animation-contact-us {
        right: 10px;
        max-height: 500px;
        max-width: 200px;
    }

    section.section-color .bottom .content form {
        width: 100%;
    }

    section.section-color .bottom .content .info h1 {
        font-size: 20px;
    }

    section.section-color .bottom .content .info h1 .icon {
        font-size: 20px;
    }

    section.section-background .bottom .content h1.logo {
        font-size: 45px;
    }

    section.section-background .bottom .content h1.logo i {
        bottom: -13px;
        left: 10px;
        font-size: 12px;
        padding: 3px 7px;
    }

    section.section-feature .content .feature {
        padding: 10px 15px;
    }

    section.section-feature .content .feature ul li i {
        padding: 10px 20px 10px 5px;
        font-size: 20px;
        min-width: 50px;
    }


    .navigation {
        padding: 14px 32px 14px 8px;
        font-size: 10px;
    }


    #print-report .body .left .logo h1 {
        font-size: 10px !important;
    }

    #print-report .body .left .logo h5 {
        font-size: 2px !important;
    }

    #print-report .body .left {
        display: table-cell;
        padding: 10px 0px !important;
        width: 50px !important;
        min-width: 50px !important;
    }

    section.section-report .report {
        min-height: 600px;
    }

    section.section-report .report .content {
        min-height: 600px;
    }

    section.section-search .header-search .search-type {
        left: 10px;
        bottom: 10px;
        height: 35px;
        width: 35px;
        font-size: 20px;
        padding: 3px 5px;
    }

}

@media (max-width: 480px)  {


}