@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic,700,700italic,300,300italic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Questrial:400,500,700');


html {
    height: 100%;
}

body {
	//font-family: "Segoe UI", Segoe_UI;
	font-family: Roboto, RobotoDraft, Arial, sans-serif;
	width: 100%;
	margin: 0 0;
	padding:  0;
	background: #ffffff;
}

body.background {
	height: 100%;
	background: #ff00ff; 
    background: -webkit-linear-gradient(#ffffff, #e4eef2); 
    background: -o-linear-gradient(#ffffff, #e4eef2);
    background: -moz-linear-gradient(#ffffff, #e4eef2); 
    background: linear-gradient(#ffffff, #e4eef2);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hide {
	display:none !important;
}

.hide-left {
	left: -30% !important;
}

.hide-scale {
	transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	-ms-transform:scale(0);
}

.animation {
	-webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}

.show {
	display:block;
}

.column {
	display: table-cell;
	vertical-align: top;
}

.full-width {
	width: 100%;
}

.select-phone-code {
    display: none !important;
}

.phone-input {
    padding-left: 130px !important;
}

input, button, select, textarea {
	outline: none;
}

body {
	padding: 0 0;
	margin: 0 0;
	font-family:"Segoe UI",Segoe_UI;
}

.has-error input, .has-error .border-group  {
}

.loading-autocomplete, .loading-content, .reload-content {
    position: absolute;
    right: 30px;
    bottom: 15px;
    color: #24e2cf;
    font-size: 16px !important;
}

.form-elements-sec .loading-autocomplete, .form-elements-sec .loading-content, .form-elements-sec .reload-content {
    position: absolute;
    right: 45px;
    margin-top: -25px;
    color: #24e2cf;
    font-size: 16px;
}

.content-column .loading-autocomplete, .content-column .loading-content, .content-column .reload-content {
    right: 15px !important;
}

.reload-content {
    color: #b8b8b8 !important;
    cursor: pointer;
}

.reload-content:hover {
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
    color: #2daee5 !important;
}

.form-group.date-validate.has-error:before, .form-group.date-validate.has-success:before, .form-group.no-notif.has-error:before, .form-group.no-notif-validate.has-success:before, .no-notif .form-group.has-error:before, .no-notif .form-group.has-success:before {
    display: none;
}

.form-group.date-validate.has-error .help-block {
    position: relative;
    float: left;
    margin-top: -15px;
}

.datetimepicker {
	width: 100% !important;
}

.datetimepicker input {
    padding-right: 30px;
    width: 100% !important;
}

.datetimepicker .input-group-addon {
    position: absolute;
    right: 13px;
    top: 9px;
    border: none;
    background-color: transparent;
    color: #9299a2;
    padding: 2px 10px;
    font-size: 14px;
    cursor: pointer !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    z-index: 2;    
}

.datetimepicker .input-group-addon:active, .datetimepicker .input-group-addon:hover {
    background-color: transparent;
    color: #24e2cf;
}



#alert {
    position: fixed;
    top: 5%;
    left: 50%;
    padding: 0 0;
    max-width: 450px;
    z-index: 9999999999999999999999999999;
    transform:  translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    width: 100%;
}

#alert .notify-alert {
	position: relative;
	float: left;
	width: 100%;
	background-color: #323232;
	border: 1px solid #323232;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    border-radius: 0px;
    padding: 15px 30px 15px 20px;
}

#alert .notify-alert .notify-content {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
}

#alert .notify-alert .notify-content i {
	position: relative;
	float: left;
	margin: 0px 8px 0 0;
	font-size: 20px;
	color: #ffffff;
}

#alert .notify-alert .notify-content p {
    display: inline;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}

#alert .notify-alert .close {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #b7c4ca;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	font-size: 16px;
	text-shadow: none;
}

#alert .notify-alert .close:hover {
	color: #ffffff;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 0 0 !important;
	border-bottom: 1px solid #f0f0f0;
}

header .top {
	position: relative;
	float: left;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
}

header .top .content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

header .top .content .left {
	position: relative;
	float: left;
	padding-right: 50px;
}

header .top .content .left .icon {
	position: relative;
	float: left;
	color: #0078d7;
	font-size: 40px;
	padding: 10px 10px;
}

header .top .content .left h1 {
	position: relative;
	float: left;
	font-size: 18px;
	font-weight: normal;
	color: #2b2b30;
	padding: 10px 10px;
}

header .top .content .left h1 a {
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	color: #2a5993;
	cursor: pointer;
}

header .top .content .left h1 a:hover {
	text-decoration: underline;
	color: #2b2b30;
}

header .top .content .right {
	position: relative;
	float: right;
}

header .top .content .right .icon {
	position: absolute;
	top: 15px;
	right: 5px;
	color: #077db4;
	font-size: 20px;
	cursor: pointer;
}

header .top .content .right .icon:hover {
	top: 10px;
	right: 0px;
	font-size: 25px;
}

header .bottom {
	position: relative;
	float: left;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid transparent;
	text-align: center;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
}

header .bottom .content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

header .bottom .content .logo {
	position: relative;
	float: left;
	padding: 0px 0;
	margin: 15px 0px 6px 0;
    color: #263238;
    float: left;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

header .bottom .content .logo span {
    color: #2daee5;
}

header .bottom .content .logo img {
    margin-top: -6px;
    max-height: 25px;
}

header .bottom .content .logo i {
	position: absolute;
	top: 32px;
	right: -20px;
	font-size: 8px;
	background-color: rgba(0,0,0,0.1);
	padding: 2px 7px;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-style: normal;
	display: none;
}

header .bottom .content nav {
	position: relative;
	float: right;
	padding: 0 0;
	margin: 0 0 0 5px;
}

header .bottom .content nav ul {
	list-style-type:none;
	-o-list-style-type:none;
	position: relative;
	float: left;
	padding: 0 0;
	margin: 0 0;
}

header .bottom .content nav ul li {
	position: relative;
	float: left;
}

header .bottom .content nav ul li a {
	position: relative;
	float: left;
	padding: 21px 8px;
	color: #046e89;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
}

header .bottom .content ul li a:hover {
	background-color: #24e2cf;
	color: #ffffff;
}

header .bottom .content nav ul li.hide-menu {
	display: none;
}

header .bottom .content .button {
	position: relative;
	float: right;
	color: #2daee5;
	font-size: 16px;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	padding: 5px 20px;
	border: 2px solid #2daee5;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin: 13px 0 5px 5px;
	text-decoration: none;
	cursor: pointer;
}

header .bottom .content .button:hover {
	border-color: #0095cc;
}


header .bottom .content .button.green {
	position: relative;
	float: right;
	background-color: #81c630;
	color: #ffffff;
	font-size: 16px;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	padding: 5px 20px;
	border: 2px solid #81c630;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin: 13px 0 5px 5px;
	text-decoration: none;
	cursor: pointer;
}

header .bottom .content .button.green:hover {
	border-color: #54b741;
	background-color: #54b741;
}


header.color .bottom {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	//background-color: #2daee5;
	//border-bottom: 1px solid rgba(255,255,255,0.2);
}

header.color .bottom .content .logo {
	//color: #ffffff;
}

header.color .bottom .content .logo {
    //color: #ffffff;
}

header.color .bottom .content .logo span {
    //color: #ffffff;
}

header.color .bottom .content .logo i {
	//background-color: rgba(0,0,0,0.1);
	//color: rgba(255,255,255,0.8);
}


header.color .bottom .content nav ul li a {
	//color: #ffffff;
}

header.color .bottom .content ul li a:hover {
	//background-color: rgba(0,0,0,0.1);
	//color: #ffffff;
}

header.color .bottom .content .button {
	//border-color: #ffffff;
	//color: #ffffff;
}

header.color .bottom .content .button:hover {
	//border-color: rgba(255,255,255,0.5);
}

header.color .bottom .content .button.green {
	//border-color: #226a3e;
	//color: #ffffff;
}

header.color .bottom .content .button.green:hover {
	//border-color: rgba(34,106,62,0.5);
}


header.shadow {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}


header .bottom .content .menu {
	position: relative;
	float: right;
	margin: 12px 10px;
	font-size: 20px;
	color: #ffffff;
	padding: 4px 10px;
	background-color: #2daee5;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display: none;
	cursor: pointer;
}

header .bottom .content .menu:hover {
	background-color: #0095cc;
}

header.color .bottom .content .menu {
	color: #2daee5;
	background-color: #ffffff;
}

header.color .bottom .content .menu:hover {
	background-color: rgba(255,255,255,0.8);
}

header .bottom .content nav .close {
	position: relative;
	float: left;
	width: 100%;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	background-color: #2daee5;
	border-top: 1px solid #4dc7f5;
	border-bottom: 1px solid #4dc7f5;
	text-align: left;
	padding: 10px 15px;
	text-shadow: none;
	font-size: 14px;
	font-family:"Segoe UI",Segoe_UI;
	font-weight: normal;
	color: #ffffff;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	display: none;
}

header .bottom .content nav .close:hover {
	background-color: #0095cc;
}

header .bottom .content nav .close i {
    margin: 0 5px 0 0;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 6px;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #ffffff;
}

.container {
	position: absolute;
	top: 60px;
	width: 100%;
	padding: 0 0 !important;
	margin: 0 0;
	z-index: 1;
}

section {
}

section.section-banner {
	background: url('../images/sec-bg1.jpg') no-repeat center center fixed;
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.section-banner .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

section.section-banner h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 56px;
	text-align: center;
	margin: 80px 0 10px 0;
}

section.section-banner p {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 30px;
	text-align: center;
	margin: 10px 0;
}


section.section-banner .content {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

section.section-banner .content .btn-sec {
	max-width: 480px;
	text-align: center;
	margin: 50px auto;
}

section.section-banner .content .btn-sec .button {
	position: relative;
	float: left;
	background-color: transparent;
	color: #ffffff;
	font-size: 18px;
	padding: 15px 40px;
	border: 2px solid #ffffff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	margin: 10px 10px;
	text-decoration: none;
	cursor: pointer;
}

section.section-banner .content .btn-sec .button:hover {
	color: #0078d3;
	background-color: #ffffff;
	border-color: #ffffff;
}

section.section-banner .content .btn-sec .button.blue {
	background-color: #0078ca;
	border-color: #0078ca;
}

section.section-banner .content .btn-sec .button.blue:hover {
	background-color: #0065aa;
	border-color: #0065aa;
	color: #ffffff;
}

section.section-banner .bottom {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin: 30px 0;
}


section.section-banner .bottom p {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family:"Segoe UI",Segoe_UI;
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
}

section.section-banner .bottom .btn-sec {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

section.section-banner .bottom .btn-sec .button {
	background-color: rgba(0,0,0,0.3);
	color: #ffffff;
	font-size: 18px;
	padding: 13px 18px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 0 10px;
	text-decoration: none;
	cursor: pointer;
}

section.section-banner .bottom .btn-sec .button:hover {
	color: #ffffff;
	background-color: #00aff0;
	border-color: #00aff0;
}

section.section-info {
	position: relative;
	float: left;
	width: 100%;
	background-color: #f5f9fc;
	padding: 20px 30px 100px 30px !important;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-info h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: center;
	margin: 50px 0 50px 0;
}

section.section-info .left {
	width: 50%;
}

section.section-info .left ul {
	list-style-type:none;
	-o-list-style-type:none;
	position: relative;
	float: left;
	padding: 0 0;
	margin: 0 0;
}

section.section-info .left ul li {
	position: relative;
	float: left;
	border-bottom: 1px solid #d8e5ef;
	padding: 10px 10px;
	cursor: pointer !important;
}
section.section-info .left ul li.active {
	background-color: #ffffff;
}

section.section-info .left ul i {
	display: table-cell;
	font-size: 50px;
	padding: 10px 40px;
	vertical-align: middle;
	color: #a2b5c3;
}

section.section-info .left ul li.active i {
	color: #00aff0;
}

section.section-info .left ul .text {
	display: table-cell;
	vertical-align: top;
	padding: 10px 10px;
}

section.section-info .left ul .text h1 {
	position: relative;
	float: left;
	width: 100%;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	font-size: 20px;
	text-align: left;
	color: #2b2b30;
	margin: 5px 0;
}

section.section-info .left ul .text p {
	position: relative;
	float: left;
	width: 100%;
	text-align: left;
	font-size: 16px;
	color: #2b2b30;
}

section.section-info .right {
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

section.section-info .right i {
	font-size: 150px;
	color: #00aff0;
	color: #ffffff;
	padding: 50px 50px;
	background-color: #4bbced;
	border: 2px solid #007399;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

section.section-info .right i.blue {
	background-color: #396ebb;
	border: 2px solid #143e7e;
}

section.section-info .right i.green {
	background-color: #55b641;
	border: 2px solid #307030;
}

section.section-info .right i.orange {
	background-color: #f29e16;
	border: 2px solid #cb6d20;
}

section.section-info .right img {
	max-width: 500px;
	max-height: 350px;
}

section.section-info .link-sec {
	position: relative;
	float: left;
	margin: 50px 0 10px 0;
	width: 100%;
	padding: 10px 50px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-info .link-sec a {
	position: relative;
	float: left;
	font-size: 16px;
	border: 1px solid #81c630;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #81c630;
	padding: 8px 30px;
	color: #ffffff;
	margin: 5px 0;
	text-decoration: none;
}

section.section-info .link-sec a:hover {
	opacity: 0.8;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}

section.section-info-tab {
	position: relative;
	float: left;
	width: 100%;
	background-color: #ffffff;
	padding: 50px 0px 0px 0px !important;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-info-tab h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: center;
	margin: 30px 0 50px 0;
}

section.section-info-tab ul {
	list-style-type:none;
	-o-list-style-type:none;
	position: relative;
	float: left;
	width: 100%;
	padding: 0 30px;
	margin: 0 0;
	z-index: 2;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align: center;
}

section.section-info-tab ul li {
	min-width: 250px;
	display: inline-block;
	border-right: 1px solid #d8e5ef;
	padding: 20px 40px;
	cursor: pointer !important;
}

section.section-info-tab ul li.active {
	border-right: 1px solid transparent;
	background-color: #ffffff;
	box-shadow: 0 0 5px #00aff0;
	-webkit-box-shadow: 0 0 40px #c8e2ec;
	-moz-box-shadow: 0 0 5px #00aff0;
}

section.section-info-tab ul i.icon {
	position: relative;
	float: left;
	width: 100%;
	font-size: 50px;
	color: #a2b5c3;
	text-align: center;
}

section.section-info-tab  ul li.active i.icon {
	color: #00aff0;
}

section.section-info-tab ul li h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 20px;
	text-align: center;
	margin: 5px 0;
}

section.section-info-tab ul i.arrow {
	position: relative;
	float: left;
	width: 100%;
	margin: 5px 0;
	font-size: 15px;
	color: #2b2b30;
	text-align: center;
}

section.section-info-tab .content {
	position: relative;
	float: left;
	width: 100%;
	background: url('../images/sec-bg2.jpg') no-repeat center center fixed;
	margin: 0 0;
	z-index: 1;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.section-info-tab .content .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

section.section-info-tab .content .slide {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
}

section.section-info-tab .content .slide .button {
	position: relative;
	float: left;
	background-color: rgba(0,0,0,0.3);
	color: #ffffff;
	font-size: 18px;
	padding: 11px 18px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 10px 10px;
	text-decoration: none;
	cursor: pointer;
}

section.section-info-tab .content .slide .button:hover {
	color: #ffffff;
	background-color: #00aff0;
	border-color: #00aff0;
}

section.section-info-tab .content .slide .left {
	position: absolute;
	left: 0;
	top: 35%;
	height: 100%;
	vertical-align: middle;
	z-index: 2;
}

section.section-info-tab .content .slide .main {
	position: relative;
	float: left;
	padding: 50px 80px 50px 80px;
	width: 100%;
	min-height: 400px;
	z-index: 1;
}

section.section-info-tab .content .slide .main .text {
	position: relative;
	float: left;
	padding: 30px 20px 100px 20px;
	width: 60%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-info-tab .content .slide .main .text h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 45px;
	text-align: left;
	margin: 5px 0;
	line-height: 55px;
}

section.section-info-tab .content .slide .main .text p {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 25px;
	text-align: left;
	margin: 5px 0;
}

section.section-info-tab .content .slide .right {
	position: absolute;
	right: 0;
	top: 35%;
	height: 100%;
	vertical-align: middle;
	z-index: 2;
}

section.section-info-list {
	position: relative;
	float: left;
	width: 100%;
	padding: 50px 10px 80px 10% !important;
}

section.section-info-list h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: center;
	margin: 30px 0 50px 0;
}

section.section-info-list .list {
	position: relative;
	float: left;
	margin: 30px 100px 30px 0;
	text-align: center;
	max-width: 300px;
	min-height: 300px;
}

section.section-info-list .list img {
	max-height: 150px;
	max-width: 150px;
	margin: 20px 0;
}


section.section-info-list .list i {
	font-size: 40px;
	color: #00aff0;
	color: #ffffff;
	padding: 20px 35px;
	background-color: #4bbced;
	border: 2px solid #007399;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

section.section-info-list .list i.blue {
	background-color: #2498da;
	border: 2px solid #006285;
	padding: 20px 30px;
}

section.section-info-list .list i.brown {
	background-color: #8d867e;
	border: 2px solid #6f6760;
}

section.section-info-list .list i.yellow {
	background-color: #ffc100;
	border: 2px solid #d29016;
}

section.section-info-list .list h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #000000;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 30px;
	text-align: left;
	margin: 60px 0 10px 0;
}

section.section-info-list .list p {
	position: relative;
	float: left;
	width: 100%;
	color: #000000;
	font-size: 16px;
	text-align: left;
	margin: 0 0;
}

section.section-price {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 0 100px 0 !important;
}

section.section-price .banner {
	background: url('../images/sec-bg3.jpg') no-repeat center center fixed;
	position: relative;
	float: left;
	width: 100%;
	height: 350px;
	margin: 0 0;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.section-price .banner .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

section.section-price .banner.color .bg {
	background-color: #2daee5;
}

section.section-price .banner h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: center;
	margin: 80px 0 50px 0;
}

section.section-price .content {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: -130px;
}

section.section-price .price-section {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

section.section-price .price {
	position: relative;
	border: 1px solid #e4eef2;
	width: 430px;
	margin: 0 auto;
	text-align: center;
	min-height: 600px;
	background-color: #ffffff;
	vertical-align: top !important;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 20px 30px;
}

section.section-price .price-column {
	position: relative;
	float: left;
	margin: 0 30px 30px 30px;
}

section.section-price .price h1 {
	position: relative;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: center;
	margin: 10px 0;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-price .price h3 {
	position: relative;
	width: 100%;
	color: #2b2b30;
	font-size: 70px;
	text-align: center;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	margin: 20px 0;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-weight: normal;
}

section.section-price .price h3 sup {
	position: absolute;
	margin-left: -35px;
	margin-top: 20px;
	font-family:"Segoe UI",Segoe_UI;
	color: #b4b2b2;
	font-size: 20px;
}

section.section-price .price h3 sub {
	font-family:"Segoe UI",Segoe_UI;
	color: #2daee5;
	font-size: 20px;
}

section.section-price .price h5 {
	position: relative;
	width: 100%;
	color: #2b2b30;
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-weight: normal;
}

section.section-price .price .btn-sec {
	position: relative;
	width: 100%;
	margin: 40px 0;
}

section.section-price .price .btn-sec .button {
	margin: 0 auto;
	background-color: transparent;
	color: #0078ca;
	font-size: 18px;
	padding: 15px 40px;
	border: 2px solid #0078ca;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	margin: 10px 10px;
	text-decoration: none;
	cursor: pointer;
}

section.section-price .price .btn-sec .button:hover {
	color: #0078ca;
	background-color: transparent;
	border-color: #0078ca;
}

section.section-price .price ul {
	list-style-type:none;
	-o-list-style-type:none;
	position: relative;
	width: 100%;
	padding: 0 0;
	margin: 0 0;
}

section.section-price .price ul li {
	position: relative;
	width: 100%;
	margin: 20px 0;
}

section.section-price .price ul li i {
	padding: 0 30px 0 0;
	display: table-cell;
	min-width: 65px;
	color: #2daee5;
	font-size: 30px;
}

section.section-price .price ul li .icon {
	padding: 0 15px 0 0;
	display: table-cell;
}

section.section-price .price ul li .icon span {
	background-color: #a90b68;
	color: #ffffff;
	padding: 2px 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 12px;
}

section.section-price .price ul li p {
	padding: 0 0;
	margin: 0 0;
	display: table-cell;
	font-size: 16px;
	color: #2b2b30;
	vertical-align: middle;
	width: 100%;
	text-align: left;
}

section.section-price .price ul li p.text-center {
	text-align: center;
}













section.section-banner-feature {
	background: url('../images/sec-bg4.jpg') no-repeat center center fixed;
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0;
	padding: 0 0 50px 0 !important;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.section-banner-feature .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}

section.section-banner-feature.color .bg {
	background-color: #2daee5;
}

section.section-banner-feature .content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 50px 20px !important;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-banner-feature .content h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: left;
	margin: 5px 0;
}

section.section-banner-feature.color .content h1, section.section-banner-feature.color .content p {
	color: #ffffff;
}

section.section-banner-feature .content p {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-size: 20px;
	text-align: left;
	margin: 0 0;
}

section.section-banner-feature .content .button {
	position: relative;
	float: left;
	background-color: #2daee5;
	color: #ffffff;
	font-size: 18px;
	padding: 15px 40px;
	border: 2px solid #2daee5;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	margin: 20px 10px 10px 10px;
	text-decoration: none;
	cursor: pointer;
}

section.section-banner-feature .button:hover {
	background-color: #0095cc;
	border-color: #0095cc;
	color: #ffffff;
}

section.section-banner-feature .content .button i {
	margin: 0 0 0 10px;
	color: #ffffff;
}

section.section-banner-feature.color .content .button {
	background-color: transparent;
	border: 2px solid #ffffff;
}

section.section-banner-feature.color .content .button:hover {
	background-color: transparent;
	border: 2px solid rgba(255,255,255,0.5);
}

section.section-banner-feature.color .content .button.green {
	background-color: #81c630;
	color: #ffffff;
	border: 2px solid #226a3e;
}

section.section-banner-feature.color .content .button.green:hover {
	border-color: rgba(34,106,62,0.5);
}

section.section-feature {
	position: relative;
	float: left;
	width: 100%;
	padding: 20px 0 50px 0 !important;
}

section.section-feature .content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-feature .content h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 35px;
	text-align: left;
	margin: 20px 0;
}

section.section-feature .content .feature {
	position: relative;
	float: left;
	width: 100%;
	background-color: #ffffff;
	margin: 20px 0;
	padding: 20px 30px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-feature .content .feature h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	font-size: 20px;
	text-align: left;
	margin: 5px 0;
}

section.section-feature .content .feature ul {
	position: relative;
	float: left;
	width: 100%;
	list-style-type:none;
	-o-list-style-type:none;
	margin: 20px 0;
	padding: 0 0;
}

section.section-feature .content .feature ul li {
	position: relative;
	float: left;
	width: 100%;
	border-top: 1px solid #e8eced;
	padding: 10px 0 20px 0;
}

section.section-feature .content .feature ul li i {
	display: table-cell;
	vertical-align: top;
	color: #00aff0;
	padding: 10px 20px;
	font-size: 30px;
	min-width: 80px;
}

section.section-feature .content .feature ul li .text {
	display: table-cell;
	vertical-align: top;
}

section.section-feature .content .feature ul li .text h1 .star {
	margin: 0 10px;
	color: #fdc603;
}

section.section-feature .content .feature ul li h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #0078cd;
	font-family:"Segoe UI",Segoe_UI;
	font-size: 20px;
	text-align: left;
	margin: 5px 0;
	font-weight: normal;
}

section.section-feature .content .feature ul li p {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-size: 16px;
	text-align: left;
	margin: 0 0;
}

section.section-feature .content .feature .nb i {
	margin: 0 10px;
	color: #fdc603;
}

section.section-feature .content .feature .nb {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	font-size: 20px;
	text-align: left;
	margin: 5px 0;
	padding: 0 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-color {
	position: relative;
	float: left;
	width: 100%;
	background-color: #2daee5;
}

section.section-color.gradient-color {
    background-color: #2daee5;
}

section.section-color .animation {
	position: absolute;
	right: 50px;
	bottom: 0;
	max-width: 450px;
	max-height: 450px;
}

section.section-color .animation-contact-us {
	position: absolute;
	right: 150px;
	bottom: 0;
	max-width: 750px;
	max-height: 850px;
}

section.section-color .top {
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

section.section-color .top .content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-color .top .content h1.logo {
	position: relative;
	float: left;
	padding: 0px 10px;
	margin: 14px 0px;
    color: #ffffff;
    float: left;
    font-family: Montserrat_Bold;
    font-size: 30px;
    font-weight: bold;
}

section.section-color .top .content h1.logo.header {
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-weight: normal;
	font-size: 40px;
}

section.section-color .top .content h1.logo span {
    color: #ffffff;
}

section.section-color .top .content h1.logo i {
	position: absolute;
	top: -8px;
	right: -20px;
	font-size: 12px;
	background-color: rgba(0,0,0,0.1);
	padding: 3px 7px;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

section.section-color .bottom {
	position: relative;
	float: left;
	width: 100%;
	padding: 60px 0 100px 0 !important
}

section.section-color .bottom.contact {
	padding: 30px 0 100px 0 !important
}

section.section-color .bottom .content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-color .bottom .content h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family: Bryant_Medium;
	font-size: 70px;
	text-align: left;
	margin: 5px 0 30px 0;
}

section.section-color .bottom .content h1.logo {
	position: relative;
	float: left;
	width: 100%;
	color: rgba(255,255,255,0.8);
	font-family: Montserrat_Bold;
	font-size: 70px;
	text-align: left;
	margin: 10px 0 10px 0;
}

section.section-color .bottom .content h1.logo span {
    color: rgba(255,255,255,0.8);
}

section.section-color .bottom .content h1.logo i {
	position: absolute;
	bottom: -10px;
	left: 200px;
	font-size: 12px;
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.1);
	padding: 3px 7px;
	font-family:"Segoe UI",Segoe_UI;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-style: italic;
}

section.section-color .bottom .content p.logo {
	position: relative;
	float: left;
	width: 100%;
	color: rgba(255,255,255,0.8);
	font-family:"Segoe UI",Segoe_UI;
	font-size: 25px;
	text-align: left;
	margin: 0 0 30px 0;
}

section.section-color .bottom .content p {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family: Bryant_Medium;
	font-size: 40px;
	text-align: left;
	margin: 0 0;
}

section.section-color .bottom .content .text {
	position: relative;
	float: left;
	width: 100%;
}

section.section-color .bottom .content h2 {
	position: relative;
	float: left;
	width: 70%;
	color: #ffffff;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 35px;
	text-align: left;
	margin: 5px 0 0 0;
	font-weight: normal;
	line-height: 45px;
}

section.section-color .bottom .content h3 {
	position: relative;
	float: left;
	width: 70%;
	font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    font-family:"Segoe UI Light",Segoe_UI_Light;
    color: #ffffff;
    margin-bottom:20px;
}


section.section-color .bottom .content .button {
	position: relative;
	float: left;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 25px;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 5px 10px 5px 0;
	text-decoration: none;
	cursor: pointer;
}

section.section-color .bottom .content .button:hover, section.section-color .bottom .content .button:active {
	background-color: rgba(0,0,0,0.1);
}

section.section-color .bottom .content .button.loading, section.section-color .bottom .content .button.loading:hover, section.section-color .bottom .content .button.loading:active  {
	opacity: 0.5;
    padding-left: 15px;
    cursor: default;
    background-color: rgba(0,0,0,0.1);
}

section.section-color .bottom .content .button.loading span {
	position: relative;
	float: left;
    font-size: 14px;
    margin: 5px 5px 5px 0;
    color: #ffffff;
}

section.section-color .bottom .content .button.green {
	background-color: #81c630;
	color: #ffffff;
	border: 2px solid #226a3e;
}

section.section-color .bottom .content .button.green:hover {
	border-color: rgba(34,106,62,0.5);
}

section.section-color .bottom .content form {
	position: relative;
	float: left;
	width: 60%;
}

section.section-color .bottom .content form .alert {
	position: relative;
	float: left;
	width: 100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-color: rgba(0,0,0,0.2);
	padding: 13px 20px;
	color: #ffffff;
	margin: 0 0 20px 0;
	text-align: left;
	font-size: 14px;
}

section.section-color .bottom .content form .alert i {
	position: relative;
	float: left;
	font-size: 18px;
	color: #ffffff;
	margin: 2px 10px 0 0;
}

section.section-color .bottom .content form .alert .close {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #ffffff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	font-size: 10px;
}

section.section-color .bottom .content form .form-group {
	position: relative;
	float: left;
	width: 100%;
	margin: 0px 0 30px 0;
}

section.section-color .bottom .content form .form-group label {
	position: absolute;
	top: 0px;
	left: 0;
	font-family:"Segoe UI",Segoe_UI;
	color: rgba(255,255,255,0.8);
	font-size: 16px;
	font-weight: normal;
}

section.section-color .bottom .content form .form-group input, section.section-color .bottom .content form .form-group textarea {
	background-color: transparent;
	position: relative;
	float: left;
	width: 70%;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	color: #ffffff;
	font-size: 16px;
	border: 1px solid;
	border-color: transparent transparent #ffffff transparent;
	margin: 2px 0;
	padding: 30px 0 0 0;
}

section.section-color .bottom .content form .form-group textarea {
	resize: none;
	width: 90%;
}

section.section-color .bottom .content form .form-group input:focus, section.section-color .bottom .content form .form-group textarea:focus {
	margin: 1px 0;
	border: 2px solid;
	border-color: transparent transparent #ffffff transparent;
	width: 100%;
	font-family:"Segoe UI",Segoe_UI;
}

section.section-color .bottom .content form .form-group input:focus + label, section.section-color .bottom .content form .form-group textarea:focus + label {
	font-size: 20px;
	color: rgba(255,255,255,1);
}

section.section-color .bottom .content .info {
	position: relative;
	float: left;
	margin: 10px 0 30px 0;
	width: 100%;
}

section.section-color .bottom .content .info h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-family: Bryant_Medium;
	font-size: 25px;
	text-align: left;
	margin: 0 0 30px 0;
}

section.section-color .bottom .content .info h1 .icon {
	position: relative;
	float: left;
	margin: -7px 10px 0 0;
	font-size: 25px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

section.section-background {
	position: relative;
	float: left;
	width: 100%;
	background: url('../images/sec-bg4.jpg') no-repeat center center fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.section-background .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

section.section-background .animation {
	position: absolute;
	right: 50px;
	bottom: 0;
	max-width: 450px;
	max-height: 450px;
}

section.section-background .top {
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

section.section-background .top .content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-background .top .content h1.logo {
	position: relative;
	float: left;
	padding: 0px 10px;
	margin: 14px 0px;
    color: rgba(255,255,255,0.8);
    float: left;
    font-family: Montserrat_Bold;
    font-size: 30px;
    font-weight: bold;
}

section.section-background .top .content h1.logo span {
    color: rgba(255,255,255,0.8);
}

section.section-background .top .content h1.logo img {
    margin-top: -6px;
    max-height: 25px;
}

section.section-background .top .content h1.logo i {
	position: absolute;
	top: -8px;
	right: -30px;
	font-size: 12px;
	background-color: rgba(0,0,0,0.1);
	padding: 3px 7px;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

section.section-background .bottom {
	position: relative;
	float: left;
	width: 100%;
	padding: 100px 0 100px 0 !important
}

section.section-background .bottom .content {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-background .bottom .content h1.logo {
	position: relative;
	float: left;
	width: 100%;
	color: rgba(255,255,255,0.8);
	font-family: Montserrat_Bold;
	font-size: 70px;
	text-align: left;
	margin: 10px 0 10px 0;
}

section.section-background .bottom .content h1.logo span {
    color: rgba(255,255,255,0.8);
}

section.section-background .bottom .content h1.logo i {
	position: absolute;
	bottom: -10px;
	left: 200px;
	font-size: 12px;
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.1);
	padding: 3px 7px;
	font-family:"Segoe UI",Segoe_UI;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-style: italic;
}

section.section-background .bottom .content h1.try {
	position: relative;
	float: left;
	width: 100%;
	color: rgba(255,255,255,0.8);
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-weight: normal;
	font-size: 50px;
	text-align: left;
	margin: 10px 0 20px 0;
}

section.section-background .bottom .content p {
	position: relative;
	float: left;
	width: 100%;
	color: rgba(255,255,255,0.8);
	font-family:"Segoe UI",Segoe_UI;
	font-size: 25px;
	text-align: left;
	margin: 0 0 30px 0;
}

section.section-background .bottom .content .button {
	position: relative;
	float: left;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 25px;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.5);
	font-family:"Segoe UI Light",Segoe_UI_Light;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 5px 10px 5px 0;
	text-decoration: none;
	cursor: pointer;
}

section.section-background .bottom .content .button i {
	margin: 0 5px 0 0;
	font-size: 25px;
}

section.section-background .bottom .content .button:hover {
	background-color: rgba(0,0,0,0.1);
}

section.section-maps {
	position: relative;
	float: left;
	width: 100%;
	padding: 50px 20px 80px 20px !important;
}

section.section-maps h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: center;
	margin: 30px 0 30px 0;
}

section.section-maps .form-top {

}

section.section-maps .form-top .content {
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
	padding: 0 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-maps .form-top .content h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #666666;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	font-size: 25px;
	text-align: center;
	margin: 5px 0;
}

section.section-maps .form-top .content  p {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI",Segoe_UI;
	font-size: 15px;
	text-align: center;
}

section.section-maps .form-top .content .alert {
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #ffe7e4;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ffe7e4;
	padding: 10px 10px;
	color: #e63437;
	margin: 5px 0;
	text-align: center;
	font-size: 14px;
}

section.section-maps .form-top .content .alert .close {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #e63437;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	font-size: 10px;
}

section.section-maps .form-top .content input[type="text"] {
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #d0d0d0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ffffff;
	padding: 8px 10px;
	color: #999999;
	margin: 5px 0;
}

section.section-maps .form-top .content button {
	position: relative;
	float: left;
	font-size: 16px;
	width: 100%;
	border: 1px solid #81c630;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #81c630;
	padding: 8px 10px;
	color: #ffffff;
	margin: 5px 0;
}

section.section-maps .form-top .content button:hover, section.section-maps .form-top .content button:active {
	opacity: 0.8;
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}

section.section-maps .hospitalization {
	position: relative;
	float: left;
	width: 100%;
}

section.section-maps .hospitalization h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: center;
	margin: 50px 0 30px 0;
}

section.section-maps .hospitalization .detail {
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #d6e6ec;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: transparent;
	padding: 10px 20px 10px 20px;
	color: #3a3a3a;
	margin: 0 0 20px 0;
	text-align: left;
	font-size: 14px;
}

section.section-maps .hospitalization .detail .top {
	position: relative;
	float: left;
	width: 100%;
	padding: 10px 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align: center;
}

section.section-maps .hospitalization .detail .top img {
	max-width: 150px;
	max-height: 150px;
}

section.section-maps .hospitalization .detail .top h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	font-size: 14px;
	text-align: center;
	margin: 10px 0;
	font-weight: normal;
}

section.section-maps .hospitalization .detail .section-link {
	position: relative;
	float: left;
	width: 100%;
	margin: 10px 0;
}

section.section-maps .hospitalization .detail .section-link a {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: transparent;
	color: #00aff0;
	font-size: 15px;
	padding: 10px 13px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align: center;
	cursor: pointer;
}

section.section-maps .hospitalization .detail .section-link a:hover {
	background-color: #eef6f9;
}

section.section-maps .hospitalization .detail .bottom {
	position: relative;
	float: left;
	width: 100%;
	border-top: 1px solid #d6e6ec;
	background-color: #f5fafc;
	padding: 0 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align: center;
}

section.section-maps .hospitalization .detail .bottom .info {
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid #d6e6ec;
	padding: 10px 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}


section.section-maps .hospitalization .detail .bottom .info i {
	display: table-cell;
	vertical-align: top;
	color: #00aff0;
	padding: 10px 20px 10px 0;
	font-size: 20px;
	min-width: 40px;
}

section.section-maps .hospitalization .detail .bottom .info .text {
	display: table-cell;
	vertical-align: top;
}

section.section-maps .hospitalization .detail .bottom .info h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	font-size: 14px;
	text-align: left;
	margin: 5px 0;
	font-weight: normal;
}

section.section-maps .hospitalization .detail .bottom .info p {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-size: 12px;
	text-align: left;
	margin: 0 0;
}

section.section-maps .hospitalization .detail .bottom .info p .list {
	position: relative;
	float: left;
	background-color: #e2eef6;
	color: #667486;
	font-size: 12px;
	padding: 2px 10px;
	margin: 0 5px 5px 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}






section.section-maps .hospitalization .link {
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #e0ecf1;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #f5fafc;
	padding: 10px 20px 10px 20px;
	color: #3a3a3a;
	margin: 0 0 20px 0;
	text-align: left;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

section.section-maps .hospitalization .link:hover {
	border-color: #00aff0;
}

section.section-maps .hospitalization .link i {
	display: table-cell;
	vertical-align: top;
	color: #00aff0;
	padding: 10px 20px 10px 0;
	font-size: 30px;
	min-width: 50px;
}

section.section-maps .hospitalization .link .text {
	display: table-cell;
	vertical-align: top;
}

section.section-maps .hospitalization .link h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Semibold",Segoe_UI_Semibold;
	font-size: 14px;
	text-align: left;
	margin: 5px 0;
	font-weight: normal;
}

section.section-maps .hospitalization .link p {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-size: 12px;
	text-align: left;
	margin: 0 0;
}


section.section-maps .hospitalization .form-bottom {
	position: relative;
	float: left;
	width: 100%;
}

section.section-maps .hospitalization .form-bottom .content {
	margin: 0 auto;
	width: 100%;
	max-width: 350px;
	padding: 0 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

section.section-maps .hospitalization .form-bottom .content .alert {
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #e5f6fd;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #e5f6fd;
	padding: 13px 40px 13px 20px;
	color: #3a3a3a;
	margin: 0 0 20px 0;
	text-align: left;
	font-size: 14px;
}

section.section-maps .hospitalization .form-bottom .content .alert i {
	position: relative;
	float: left;
	font-size: 18px;
	color: #00aff0;
	margin: 2px 10px 0 0;
}

section.section-maps .hospitalization .form-bottom .content .alert .close {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #b7c4ca;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	font-size: 16px;
}

section.section-maps .hospitalization .form-bottom .content .alert .close:hover {
	color: #737b7f;
}

section.section-maps .hospitalization .form-bottom .content .form-group {
	position: relative;
	float: left;
	width: 100%;
	margin: 7px 0 7px 0;
	text-align: center;
}

section.section-maps .hospitalization .form-bottom .content label {
	position: relative;
	width: 100%;
	color: #333333;
	font-family:"Segoe UI",Segoe_UI;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	margin: 0px 0;
}

section.section-maps .hospitalization .form-bottom .content input[type="text"], section.section-maps .hospitalization .form-bottom .content select  {
	position: relative;
	width: 100%;
	font-size: 14px;
	border: 1px solid #00aff0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background-color: #ffffff;
	padding: 8px 10px;
	color: #333333;
	margin:  1px 0;
}

section.section-maps .hospitalization .form-bottom .content select  {
	margin: 0 0;
}

section.section-maps .hospitalization .form-bottom .content input[type="text"]:disabled,  section.section-maps .hospitalization .form-bottom .content select:disabled {
    color: #333333 !important;
    background-color: #e5f6fd;
}

section.section-maps .hospitalization .form-bottom .content input[type="text"]:focus {
	border: 2px solid #00aff0;
	padding: 8px 9px;
	margin: 0 0 0 0;
}

section.section-maps .hospitalization .form-bottom .content .help-block {
	position: relative;
	float: left;
	width: 100%;
	color: #e63437;
	padding: 0 0;
	margin: 0 0;
	text-align: left;
	font-size: 14px;
}

section.section-maps .hospitalization .form-bottom .content button {
	font-size: 18px;
	width: auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	background-color: #077db4;
	padding: 10px 20px;
	color: #ffffff;
	margin: 5px 0;
	border: none;
}

section.section-maps .hospitalization .form-bottom .content button:hover {
	border: 2px solid #077db4;
	margin: 3px 0;
}

section.section-maps .hospitalization .form-bottom .content button:active {
	background-color: #00aff0;
	border: none;
	margin: 5px 0;
}

section.section-maps .hospitalization .form-bottom .content button.loading, section.section-maps .hospitalization .form-bottom .content button.loading:hover, section.section-maps .hospitalization .form-bottom .content button.loading:active  {
	opacity: 0.5;
    padding-left: 15px;
    cursor: default;
    background-color: #00aff0;
	border: none;
	margin: 5px 0;
}

section.section-maps .hospitalization .form-bottom .content button.loading span {
	position: relative;
	float: left;
    font-size: 14px;
    margin: 5px 5px 5px 0;
    color: #ffffff;
}

section.section-maps .hospitalization .form-bottom .content .sf-radio, section.section-maps .hospitalization .form-bottom .content .sf-check {
    width: 100%;
    height: auto;
    padding: 1rem 0;
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label, section.section-maps .hospitalization .form-bottom .content .sf-check label {
	position: relative;
	float: left;
	width: auto;
    display: inline-block;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 0px;
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio], section.section-maps .hospitalization .form-bottom .content .sf-check label input[type=checkbox] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 10px
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio]+span, section.section-maps .hospitalization .form-bottom .content .sf-check label input[type=checkbox]+span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #cecece;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio]+span::after, section.section-maps .hospitalization .form-bottom .content .sf-check label input[type=checkbox]+span::after {
    content: "";
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio]:focus+span, section.section-maps .hospitalization .form-bottom .content .sf-check label input[type=checkbox]:focus+span, section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio]:active+span, section.section-maps .hospitalization .form-bottom .content .sf-check label input[type=checkbox]:active+span {
    border-color: #00aff0;
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio]:checked+span::after, section.section-maps .hospitalization .form-bottom .content .sf-check label input[type=checkbox]:checked+span::after {
    opacity: 1
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio].error+span, section.section-maps .hospitalization .form-bottom .content .sf-check label input[type=checkbox].error+span {
    border-color: #e2513f;
    border-width: 2px
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio]+span {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio]+span::after {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #00aff0;
}
section.section-maps .hospitalization .form-bottom .content .sf-radio label input[type=radio]:checked+span::after {
    border: .2em solid #fff
}

section.section-maps .icon {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

section.section-maps .icon i {
	font-size: 50px;
	padding: 25px 30px;
	color: #ffffff;
	background-color: #7bbd2f;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

section.section-maps .content-map {
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
	padding: 0 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align: center;
}


section.section-maps .content-map .loading-map {
	margin: 50px 0;
	color: #00aff0;
	font-size: 50px;
}

section.section-maps .content-map .reload-map {
	margin: 50px 0;
	color: #d0d0d0;
	font-size: 50px;
}

section.section-maps .content-map .reload-map:hover {
    -ms-transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
    color: #00aff0;
    cursor: pointer;
}

section.section-report {
	position: relative;
	float: left;
	width: 100%;
	padding: 50px 10px 80px 10px !important;
}

section.section-report h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #2b2b30;
	font-family:"Segoe UI Light",Segoe_UI_Light;
	font-size: 40px;
	text-align: center;
	margin: 30px 0 30px 0;
}

section.section-report .icon {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}

section.section-report .icon i {
	font-size: 50px;
	padding: 20px 21px;
	color: #ffffff;
	background-color: #7bbd2f;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

section.section-report .report {
	position: relative;
	float: left;
	width: 100%;
}

section.section-report .report .content {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	min-height: 700px;
}

section.section-report .report .content .print {
	position: relative;
	float: left;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid;
	border-color: transparent #d0d0d0 #d0d0d0 #d0d0d0;
}

section.section-report .btn-sec {
	position: relative;
	float: left;
	width: 100%;
	margin: 50px 0;
	text-align: center;
}

section.section-report .btn-sec .button {
	font-size: 18px;
	width: auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	background-color: #1ab1e5;
	padding: 10px 20px;
	color: #ffffff;
	margin: 5px 5px;
	border: none;
	text-decoration: none;
	cursor: pointer;
}

section.section-report .btn-sec .button:hover {
	border: 2px solid #1ab1e5;
	margin: 3px 3px;
}

section.section-report .btn-sec .button:active {
	background-color: #00aff0;
	border: none;
	margin: 5px 5px;
}

footer {
	position: relative;
	float: left;
	width: 100%;
	padding: 20px 10px 10px 10% !important;
	background-color: #f5f8f9;
}

footer .content {
	position: relative;
	float: left;
	min-width: 200px;
	margin: 0 20px 0 0;
}

footer .content h1 {
	position: relative;
	float: left;
	width: 100%;
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	margin: 35px 0px 15px 0;
	letter-spacing: 2px;
}

footer .content a {
	position: relative;
	float: left;
	width: 100%;
	color: #888d9c;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

footer .content a:hover {
	color: #ffffff;
}

footer .bottom {
	position: relative;
	float: left;
	width: 100%;
	margin: 30px 0 10px 0;
	color: #444444;
}

footer .bottom a {
	width: 100%;
	color: #888d9c;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	margin: 0 5px;
}

footer .bottom a:hover {
	color: #ffffff;
}

footer .language {
	position: relative;
	float: left;
	width: 100%;
	margin: 30px 0 0 0;
}

footer .language i {
	position: relative;
	float: left;
	color: #444444;
	font-size: 25px;
}

footer .language select {
	position: relative;
	float: left;
	margin: 7px 15px 2px 15px;
	border: 1px solid #444444;
	background-color: transparent;
	color: #444444;
	padding: 5px 10px;
}

footer .language select:hover, footer .language select:focus {
	margin: 6px 14px 1px 14px;
	border: 2px solid #444444;
}

footer .language select option {
	background-color: #282f3d;
	color: #444444;
}

.navigation {
	position: fixed;
	right: -100px;
	top: 50%;
	background-color: #24e2cf;
	color: #ffffff;
	padding: 20px 35px 20px 15px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	z-index: 100;
	cursor: pointer;
	text-decoration: none;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
}

.navigation:hover {
	color: #ffffff;
	background-color: #24e2cf;
}




















body.modal-open {
    overflow: hidden;
    /* position: fixed; */
    height: 100%;
    width: 100%;
}

.modal-open{
	overflow:hidden; 
}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;
    box-shadow:0 3px 9px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -ms-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -o-box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:rgba(0,0,0,0.8)}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=80);opacity:.8}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}
.modal-header .close{margin-top:-2px}
.modal-title{margin:0;line-height:1.42857143}
.modal-body{position:relative;padding:15px}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}
.modal-content{
    box-shadow:0 5px 15px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -ms-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -o-box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-sm{width:300px}
}
@media (min-width:992px){.modal-lg{width:900px}
}



.modal .modal-content {
    background: #ffffff none repeat scroll 0 0;

    border: none;
    border-top: none;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.modal .modal-dialog {
	top: 5%;
    max-width: 400px;
}

.modal .modal-header {
    border-bottom:none;
    padding: 20px 30px;
    margin: 0 0 30px 0;
}

.modal .modal-footer {
    margin-top: 0px;
    padding: 0px 30px 20px 30px;
    border-top:none;
}

.modal .modal-header h5 {
    width: 100%;
    text-align: center;
    color: #242424;
    float: left;
    font-family: "Segoe UI Semibold", Segoe_UI_Semibold;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px 0;
    text-align: left;
}

.modal .modal-header h5 i {
    color: #c7c7c7;
    margin-right: 3px;
}

.modal .modal-header .close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #333333;
	opacity: 0.6;
	-webkit-opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=60);
	font-size: 25px;
	text-shadow: none;
}

.modal .modal-header .close:hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

.modal .modal-body {
	margin: 0 0;
	padding: 0 30px;
}


.modal .alert {
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #ffe7e4;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #ffe7e4;
	padding: 10px 15px;
	color: #e63437;
	margin: 5px 0 10px 0;
	text-align: left;
	font-size: 14px;
}

.modal .alert i {
	position: relative;
	float: left;
	margin: 2px 10px 2px 0;
	font-size: 18px;
}

.modal .alert .close {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #e63437;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	font-size: 10px;
}


.modal label {
	position: relative;
    font-family: "Segoe UI Semibold", Segoe_UI_Semibold;
    color: #282f3d;
    font-size: 16px;
    margin: 0 0 !important;
}

.modal input[type="text"] {
	position: relative;
	margin: 2px 0 !important;
	padding: 0 0 !important;
	border: 1px solid;
	color: #2e3543;
	font-family: "Segoe UI", Segoe_UI;
	font-size: 16px;
	border-color: transparent transparent #0077ff transparent; 
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

.modal input[type="text"]:focus {
	margin: 2px 0;
	border: 2px solid;
	border-color: transparent transparent #0077ff transparent; 
}
/*
.modal .btn-primary {
    position: relative;
    float: right;
    width: auto;
    background: #0077ff;
    border: 2px solid transparent;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    color: #ffffff;
    font-family: "Segoe UI", Segoe_UI;
    font-size: 12px;
    padding: 10px 20px;
    margin: 0 0 10px 10px;

    box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	outline: none !important;
}

.modal .btn-primary:hover, .modal .btn-primary:active  {
    background: #006deb none repeat scroll 0 0;
    color: #ffffff;
    border-color:#006deb;
}

.modal .btn-primary.loading, .modal .btn-primary.loading:hover, .modal .btn-primary.loading:active  {
    background: #006deb none repeat scroll 0 0;
    color: #ffffff;
    border-color:#006deb;
}

.modal .btn-primary.loading span {
    font-size: 12px;
    margin: 0 0;
    color: #ffffff;
}

.modal .btn-secondary {
    position: relative;
    float: right;
    width: auto;
    background: #e6e6e6;
    border: 2px solid #e6e6e6;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    color: #8a8a8a;
    font-family: "Segoe UI Semibold", Segoe_UI_Semibold;
    font-size: 12px;
    padding: 10px 20px ;
    margin: 0 0 10px 0;

     box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	outline: none !important;
}

.modal .btn-secondary:hover {
	border-color: #d4d4d4;
    background: #d4d4d4 none repeat scroll 0 0;
}

.modal button.loading {
    opacity: 0.5;
    padding-left: 5px;
    cursor: default;
}

.modal button.loading span {
    font-size: 15px;
    margin: 0 0;
    color: #ffffff;
}
*/














#map {
	margin: 20px auto;
    max-width: 500px; 
    max-height: 400px;
    width: 100%;
    height: 400px;
}

.window-map {
	position: relative;
	float: left;
	width: 200px;
	height: 200px;
	padding: 0 0;
}

.window-map .column {
	display: table-cell;
}

.window-map .section-info {
	position: relative;
	float: left;
	width: 100%;
}

.window-map .section-info h1 {
	position: relative;
	float: left;
	width: 100px;
	color: #000000;
	font-family:"Segoe UI",Segoe_UI;
	font-size: 18px;
	padding: 5px 0;
	margin: 0 10px;
	font-weight: normal;
	text-align: left;
}

.window-map .section-info  img {
	max-height: 50px;
	max-width: 50px;
}

.window-map .section-list {
	position: relative;
	float: left;
	width: 100%;
	margin: 10px 0;
}

.window-map .section-list .list {
	position: relative;
    float: left;
    background: #eef0f2 none repeat scroll 0 0;
    margin: 0 5px 5px 0;
    border: none;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    color: #66757d;

    line-height: 10.5px;

    font-size: 10.5px;
    padding: 6px 15px 6px 15px;
    font-family:"Segoe UI", Segoe_UI;
    font-weight: bold;
}

.window-map .section-button {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0;
}

.window-map .section-button .button {
	font-size: 14px;
	width: auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #077db4;
	padding: 5px 10px;
	color: #ffffff;
	margin: 0 0;
	border: none;
	text-decoration: none;
}

.window-map .section-button .button:hover {
	background-color: #00aff0;
}

















.date-disabled .bootstrap-datetimepicker-widget table td,
.date-disabled .bootstrap-datetimepicker-widget table td:hover {
    color: #2daee5 !important;
    font-weight: bold !important;
}

.date-disabled .bootstrap-datetimepicker-widget table td.disabled,
.date-disabled .bootstrap-datetimepicker-widget table td.disabled:hover {
    color: #999999 !important;
    font-weight: normal !important;
}

.date-disabled .bootstrap-datetimepicker-widget table td.cw {
  font-weight: normal !important;
}
.date-disabled .bootstrap-datetimepicker-widget table td.old,
.date-disabled .bootstrap-datetimepicker-widget table td.new {
  font-weight: normal !important;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #2daee5 !important;
  color: #ffffff !important;
}








































.btn-white {
	padding: 5px 20px;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
	border-radius: 2px;
	font-size: 14px;
	height: 36px;
	color: #2daee5;
	font-weight: 500;
}

.btn-blue {
	position: relative;
	float: left;
	padding: 5px 20px;
	background-color: #2daee5;
	border: 1px solid #2daee5;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 2px;
	font-size: 14px;
	color: #ffffff !important;
	font-weight: 500;
	text-decoration: none !important;
	cursor: pointer;
}

.btn-green {
	padding: 5px 20px;
	background-color: #0f9d58;
	border: 1px solid #0f9d58;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 2px;
	font-size: 14px;
	height: 36px;
	color: #ffffff;
	font-weight: 500;
}

.element {
	margin: 20px 20px;
	background-color: #db4437;
	box-shadow: 0 1px 8px rgba(0,0,0,.3);
	height: 100px;
	width: 300px;
}