:root {
  --black: #444444;
  --primary: #046e89;
  --accent1: #24e2cf;
  --accent1light: #d8f4f2;
  --accent1lighter: #f5f8f9;
  --accent2: #1ab1e5;
  --accent2light: #f1fbfd;
  --darkgrey: #757575;
  --mediumgrey: #bbbbbb;
  --white: #ffffff;
  --error: #db0062;
  --notice: #ffa332;
}