.doc {
    position: relative;
    float: left;
    width: 100%;
	padding: 48px 48px;
}

.doc .back {
	margin-right: 5px !important;
}

.doc h1 {
    margin: 0 0 24px 0;
    font-family: Inter_Regular;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: var(--primary);
    text-transform: capitalize;
}

.doc p {
	display: block;
    margin: 0 0 8px 0;
    font-family: Inter_Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: var(--black);
}

.doc a {
    color: var(--accent2);
}

.doc b {
    font-family: OpenSans_Bold;
}

.doc h2 {
    margin: 32px 0 8px 0;
    font-family: Inter_Regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--primary);
    text-transform: capitalize;
}

.doc ol, .doc ul {
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.doc ol li, .doc ul li {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Inter_Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: var(--black);
}
