@media (max-width: 1200px) {
    .main-content.verification-email-active  {
        padding: 15px;
    }
    header.side-header {
        left: -230px;
    }
    .header-top {
        padding: 20.5px !important;
    }

    .header-top.header-up {
        padding: 23px !important;
    }

    .main-content.wide-content {
        padding-left: 45px;
    }
    .main-content, .main-content.main-step, .main-content.main-verification, .main-content.main-verification.main-step {
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 40px;
        padding-top: 0px !important;
    }

    header {
        top: 75px !important;
    }

    header.header-step {
        top: 115px !important;
    }

    header.header-verification.header-step {
        top: 135px !important;
    }

    footer.wide-footer {
        padding-left: 45px;
    }
    footer {
        padding-left: 45px;
    }
    header.side-header.slide-menu {
        left: 0;
        z-index: 9999 !important;
    }
    header.side-header.sticky {
        top: 0;
    }
    .top-bar {
        float: left;
        position: static;
        width: 100%;
    }
}

@media (max-width:980px) {
    .thumbnail-sec {
        display: flex;
        overflow: scroll;
        overflow-y: hidden;
    }
    .thumbnail-sec a .image {
        display: flex;
        justify-content: center;
        width: 155px;
    }
    .thumbnail-sec a .text {
        display: block;
        width: 155px;
        display: flex;
        justify-content: center;
    }

    .dropdown-rs {
        display: block;
    }

    .wrapper-dropdown-rs {
        list-style: none;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        width: 170px;
        position: absolute;
        top: 150px !important;
        left: 564px;
        visibility: hidden;
        padding: 5px;
        background-color: #fff;
        z-index: 99;
        
        -webkit-transition:all 0s ease 0s;
        -moz-transition:all 0s ease 0s;
        -ms-transition:all 0s ease 0s;
        -o-transition:all 0s ease 0s;
        transition:all 0s ease 0s;
        background-clip: padding-box;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .wrapper-dropdown-rs.open-rs {
        visibility: visible;
    }
    .wrapper-dropdown-rs li {
        line-height: 35px;
    }

    .main-content.verification-email-active  {
        padding: 15px;
    }
    .header-top {
        padding: 18.5px !important;
    }

    .link-add.link-label {
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .icon-section .icon-container {
        width: 33.334%;
    }    
    .quick-stats > .row > div {
        float: left;
        width: 25%;
    }
    .panel-setting .quick-stats > .row > div.col-md-4 {
        float: left;
        margin-top: 60px;
        text-align: center;
        width: 100%;
    }
    .panel-setting .total-sales-info {
        float: left;
        width: 100%;
    }
    .panel-setting .total-sales-info > h3::before {
        left: 50%;
        margin-left: -50px;
    }
    .logo {
        min-width: 130px;
    }
    .top-bar form.search-form {
        margin-left: 20px;
        width: 170px;
    }
    .top-bar > ul > li {
        margin-left: 30px;
    }
    .heading-profile {
        text-align: center;
    }
    .breadcrumbs > ul {
        text-align: center;
    }
    .breadcrumbs > ul > li {
        display: inline-block;
        float: none;
    }
    .breadcrumbs > ul > li:last-child > a::before {
        display: none;
    }
    .top-bar-chart {
        text-align: center;
    }
    .top-bar-chart > .quick-report {
        display: inline-block;
        float: none;
        margin: 30px 30px 0;
    }
    .top-bar {
        float: left;
        position: static;
        width: 100%;
    }
    footer {
        float: left;
        position: static;
        width: 100%;
    }
    .mini-stats-sec .row > div {
        float: left;
        width: 50%;
    }
    .total-sales-info {
        width: auto;
    }
    .visitor-country {
        text-align: center;
    }
    .visitor-country > #vmap {
        display: inline-block;
        float: none;
        margin: 30px 0 0;
        width: 100%;
    }
    .visitor-country-list {
        display: inline-block;
        float: none;
        margin-top: 30px;
        text-align: left;
    }
    .widget-carousel {
        background-size: cover;
    }
    header.side-header.sticky {
        top: 0;
    }
    .billing-sec .field {
        width: 100%;
    }
    .our-team-area > div {
        float: left;
        width: 50%;
    }
    .filter-products > div {
        float: left;
        width: 50%;
    }
    .gallery-sec > .row > div {
        float: left;
        width: 50%;
    }
    .inbox-panel-head {
        text-align: center;
    }
    .inbox-panel-head > img {
        display: inline-block;
        float: none;
        margin: 0 0 20px;
    }
    .inbox-navigation {
        margin-bottom: 30px;
    }
    .creat-an-account {
        padding-left: 0;
        padding-top: 30px;
    }
    .account-form input[type="submit"] {
        margin: 0 !important;
    }
    .more-option {
        float: left;
        position: static;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        width: 100%;
    }
    .account-form > form div.feild {
        float: left;
        width: 100%;
    }
    .account-form label {
        margin-bottom: 0px;
    }
    .account-detail > ul {
        margin-bottom: 30px;
    }

    table tr td .btn-table {
        display: none;
    }

    table tr td .dropdown {
        display: block;
    }

    table tr td  ul .btn-table {
        position: relative !important;
        float: left !important;
        width: 100% !important;
        display: block !important;
        margin: 0 0 !important;
        padding: 4px 16px !important;
        line-height: 24px !important;
        font-size: 14px !important;
        color: #3d464d !important;
        font-family: "Segoe UI", Roboto !important;
        font-weight: normal !important;
        border: none !important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }

    table tr td ul .btn-table span {
        display: none !important;
    }

    table tr td  ul .btn-table:hover, table tr td  ul .btn-table:focus {
        background-color: #2daee5 !important;
        color: #ffffff !important;
    }

    header {
        top: 71px !important;
    }

    .stepsForm .sf-content {
        margin-left: 0;
    }
    .field-input-setup {
        padding-left: 0;
        padding-right: 0; 
    }
    .container-form-setup {
        padding: 0px 15px 0px 15px;
    }

    .feild.input-feild-register {
        padding: 0;
    }

    .button-forgot-mobile, .more-option.mobile {
        display: block;
    }

    .button-forgot-dekstop, .more-option.dekstop {
        display: none;
    }

    .button-forgot-mobile {
        padding-top: 30px;
    }

    .container .row {
        margin-right: 0;
        margin-left: 0;
    }

    .creat-an-account h4 {
        margin-top: 0px;
    }
    
    .more-option::before {
        width: 40%;
    }

    .more-option::after {
        width: 40%;
    }

    .logo {
        min-width: 130px;
    }
    .creat-an-account {
        padding-left: 0;
        padding-bottom: 20px;
    }

    .account-top-bar .container {
        width: 650px;
    }

    .logo-main-header {
        padding: 18px 0 10px 0px;
    }
    
    .acount-sec {
        padding-top: 32px 0px;
    }

    .select-clinic {
        margin: 8px 0 0 0;
    }

    .content-select {
        display: inline-block;
        width: 50%;
    }

}

@media (max-width: 767px) {
    .main-content, .main-content.main-step, .main-content.main-verification, .main-content.main-verification.main-step {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;
        padding-top: 76px !important;
    }
    .icon-section .icon-container {
        width: 50%;
    }
    .top-bar {
        text-align: center;
        position: fixed;
    }

    .header-top.header-up {
        padding: 18px !important;
    }

    header.side-header {
        top: 0 !important;
    }
    header.side-header {
        z-index: 2147483646;
    }

    header.side-header.header-verification, header.side-header.header-step, header.side-header.header-verification.header-step {
        top: 0 !important;
    }

    .menu-options.active {
        display: none;
    }
    
    .quick-links {
        display: inline-block;
        float: none;
        margin: 0;
        padding-right: 0;
    }
    
    .top-bar > ul {
        display: inline-block;
        float: none;
    }
    .top-bar-chart > .quick-report {
        float: left;
        margin: 30px 0 0;
        padding: 0 30px;
        width: 50%;
    }
    .user-bar {
        padding: 0;
    }
    .user-thumb {
        margin-top: 10px;
    }

    .user-thumb .reset-logo, .user-thumb .reset-photo  {
        margin-left: 65px;
    }

    .user-thumb .reset-logo i, .user-thumb .reset-photo i  {
        margin-left: -35px;
    }

    .user-thumb .reset-logo img, .user-thumb .reset-photo img  {
        width: 18px;
        height: 18px;
    }

    .user-thumb .canvas-logo, .user-thumb .canvas-photo {
        padding: 0px;
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .user-thumb .user-info {
        margin-top: 30px;
        text-align: left;
    }

    .user-thumb img {
        display: inline-block;
        float: none;
        padding: 0;
        margin-left: -35px;
    }

    .user-thumb .photo-image {
        margin-left: -35px;
    }

    .user-bar ul {
        //margin-top: 0px;
    }

    .user-bar > .social-btns {
        float: left;
        margin-bottom: 50px;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .user-bar > ul {
        float: left;
        text-align: center;
        width: 100%;
    }
    .user-bar > ul > li {
        display: inline-block;
        float: none;
        padding: 0 15px;
    }
    .user-bar {
        text-align: center;
    }
    .user-bar > a {
        display: inline-block;
        float: none;
        margin: 30px 0;
    }
    .profile-all {
        margin: 0;
    }

    .acount-sec {
        padding: 60px 15px;
    }

    .invoice {
        min-width: 1060px;
    }
    .invoice-sec {
        overflow-x: scroll;
    }
    .account-top-bar {
        padding: 0 15px;
    }
    .quick-stats > .row > div {
        margin-bottom: 30px;
        width: 50%;
    }
    .toggle-content {
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .maintainance-mode {
        padding: 40px 20px 100px 20px;
        min-width: 350px;
    }

    .maintainance-mode button {
        position: absolute;
        left: 50%;
        margin-top: 60px;
        transform: translate(-50%, 0%);
    }

    table tr .hide-lg {
        display: none;
    }

    table tr .show-md {
        display: block;
    }

    .verification {
        font-size: 14px;
        display: inline-block;
    }
    .verification .message-verification {
        text-align: left;
        margin-bottom: 20px;
    }
    .email-verification-button {
        float: left;
    }

    .logo.app {
        display: flex;
    }
    .menu-options {
        float: left;
        position: absolute;
        margin: 0;
    }
    .logo .text {
        margin-left: 30px;
    }
    .header-top {
        padding: 20px !important;
    }

    .menu-right-responsive {
        display: block;
    }
    .menu-right-responsive a img {
        width: 25px;
    }
    .dropdown-scroll.rs {
        position: fixed;
        top: 358px !important;
        right: 17px !important;
        left: 193px;
    }
    .table-rs {
        display: none;
    }
    /* .dropdown-menu {
        max-width: 160px;
        min-width: 0px;
    } */

    .language-wrapper, .profile-wrapper, .menu-right-wrapper {
        display: none !important;
    }

    .quick-links > ul {
        position: relative;
        left: 15px;
    }
    .quick-links > ul > li {
        top: 5px;
    }

    .container-menu-right {
        position: fixed;
        right: -420px;
        height: 100%;
        z-index: 999999999999;
        -webkit-transition:all 0.7s ease 0s;
        -moz-transition:all 0.7s ease 0s;
        -ms-transition:all 0.7s ease 0s;
        -o-transition:all 0.7s ease 0s;
        transition:all 0.7s ease 0s;
        
        width: 250px;
        background-color: #ffffff;
        margin-left: auto;
        height: 100%;
        overflow: scroll;
    }
    .bg-transparent {
        background-color: rgba(000,000,000, 0.6);
        height: 0%;
        width: 0%;
        position: fixed;
        z-index: 9;
    }

    .bg-transparent, .container-menu-right, .sidebar-responsive, .collapse-select-clinic, .wrapper-collapse-clinic, .border-bottom-clinic {
        display: block;
    }

    .container-menu-right .wrapper-menu-right .menu-sec a {
        display: block;
    }
    .container-menu-right .wrapper-menu-right .menu-sec {
        border-top: 1px solid #f0f0f0;
        padding: 18px;
    }
    .container-menu-right .wrapper-menu-right .menu-sec img {
        width: 24px;
        margin-right: 8px;
    }
    .container-menu-right .wrapper-menu-right .menu-sec span {
        color: #3d464d;
    }
    .container-menu-right.slider-menu{
        right: 0px;
        z-index: 999999999999;
    }

    .bg-transparent.slider-menu {
        background-color: rgba(000,000,000, 0.6);
        height: 100%;
        width: 100%;
        animation: fadeIn ease-in-out 0.5s;
        -webkit-animation: fadeIn ease-in-out 0.5s;
        -moz-animation: fadeIn ease-in-out 0.5s;
        -o-animation: fadeIn ease-in-out 0.5s;
        -ms-animation: fadeIn ease-in-out 0.5s;
        z-index: 999;
    }

    @keyframes fadeIn{
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
    
    @-moz-keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
    
    @-webkit-keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }

    .account-main-header > li > a {
        padding: 0;
    }

    .account-main-header {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10px;
    }

    .stepsForm .sf-steps-content > div {
        margin-right: 0px;
    }

    .account-top-bar .container {
        width: 100%;
    }

    .menu-options.active .menu-action::after {
        //background: #000000 none repeat scroll 0 0;
    }

    .menu-options.active .menu-action::before {
        //background: #000000 none repeat scroll 0 0;
    }

    .menu-options.active .menu-action > i::before {
        //background: #000000 none repeat scroll 0 0;
    }

    .menu-options.active {
        left: 180px;
        position: fixed;
        top: 12px;
        z-index: 2147483647;
    }

    .acount-sec {
        padding: 32px 0px;
        padding-bottom: 100px;
    }
    
    .action-login {
        display: none;
    }
    
    .account-sec .container {
        padding: 10px 0;
    }
    
    .logo-main-header {
        padding: 13px 0 10px 8px;
    }
    
    .account-main-header li {
        margin: 0;
    }
    .account-main-header li .quick-links {
        padding: 0;
        margin: 0;
    }
    .account-main-header .action-logout-rs {
        margin-top: 5px;
    }

    .main-content.verification-email-active.up {
        padding-left: 15px;
    }
    
    .account-main-header .action-logout-rs a {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #046E89;    
    }

    .creat-an-account h4 {
        margin-top: 20px;
    }
    
    .button-login {
        width: 100%;
    }
    
    .button-forgot-mobile {
        padding-top: 30px;
    }
    .wrapper-action {
        display: block;
    }
    
    @-o-keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
    
    @-ms-keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }

    .collapse-profile, .collapse-profile li, .collapse-language {
        list-style: none;
    }
    .wrapper-menu-right .canvas img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        max-width: 56px;
        max-height: 56px;
    }
    .container-menu-right .wrapper-menu-right .collapse-profile > a::before {
        content: "\f107";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: var(--primary);
        font-size: 20px;
        left: 100%;
        margin-left: -11px;
        position: relative;
        top: 30px;
        font-weight: 650;
    }

    .container-menu-right .wrapper-menu-right .collapse-profile.active > a::before {
        content: "\f106";
    }
    .wrapper-collapse-profile, .wrapper-collapse-language {
        height: 0px;
        width: 100%;
        overflow: hidden;
        -webkit-transition:all 0.7s ease 0s;
        -moz-transition:all 0.7s ease 0s;
        -ms-transition:all 0.7s ease 0s;
        -o-transition:all 0.7s ease 0s;
        transition:all 0.7s ease 0s;
    }
    .wrapper-collapse-profile.slider-menu {
        height: 61px;
        -webkit-transition:all 0.7s ease 0s;
        -moz-transition:all 0.7s ease 0s;
        -ms-transition:all 0.7s ease 0s;
        -o-transition:all 0.7s ease 0s;
        transition:all 0.7s ease 0s;
    }
    .wrapper-collapse-language.slider-menu {
        height: 61px;
        -webkit-transition:all 0.7s ease 0s;
        -moz-transition:all 0.7s ease 0s;
        -ms-transition:all 0.7s ease 0s;
        -o-transition:all 0.7s ease 0s;
        transition:all 0.7s ease 0s;
    }

    .wrapper-menu-right .canvas {
        padding: 20px 20px 0px 20px;
    }

    .collapse-profile {
        padding: 0px 20px 0px 20px;
    }
    .collapse-language {
        padding: 18px;
        border-top: 1px solid #f0f0f0;
    }

    .collapse-profile h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #444444;
        margin: 0 0 16px 0;
    }

    .action-item {
        margin: 10px 0px 20px ;
        padding: 0 20px 0 20px;
    }
    .action-item a {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #1AB1E5;
    }
    .wrapper-collapse-profile .action-button {
        border-top : 1px solid #f0f0f0;
        text-align: right;
        padding: 12px 18px;
    }
    .wrapper-collapse-profile .action-button a {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .collapse-language img {
        width: 24px;
    }
    .collapse-language .icon-arrow {
        width: 24px;
        float: right;
    }
    .wrapper-language a img {
        margin-right: 8px;
    }
    .wrapper-language a span {
        color: #3d464d;
    }

    .main-content.verification-email-active  {
        padding-top: 165px !important;
    }

    .panel-content {
        padding-top: 30px;
    }

    .bg-sidebar {
        display: block;
    }
    .side-menus nav {
        padding-bottom: 0;
        padding-top: 0;
    }
    .side-header {
        overflow: scroll;
    }
    .select-clinic {
        display: none;
    }

    .wrapper-collapse-clinic {
        max-height: 0px;
        width: 100%;
        overflow: hidden;
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
    }
    
    .collapse-select-clinic {
        padding: 0px 20px 14px;
        margin-bottom: 0 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .collapse-select-clinic h5 {
        color: #046E89;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    /* .collapse-select-clinic > h5::before {
        content: "\f107";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: var(--primary);
        font-size: 20px;
        left: 100%;
        margin-left: -11px;
        position: relative;
        top: 4px;
        font-weight: 650;
    } */
    .wrapper-collapse-clinic li {
        padding: 0px 20px 0 23px;
        padding-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #046E89;
    }
    
    .collapse-select-clinic.active > h5::before {
        content: "\f106";
    }

    .wrapper-collapse-clinic.slider-menu {
        max-height: 500px;
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;
    }
    .menu-scroll.space {
        margin-top: -76px !important;
    }

    .quick-links > ul > li .dialouge.notifications {
        width: 382px;
        right: 145px;
    }

    .quick-links.app > ul > li .dialouge {
        right: 357%;
    }

    .quick-links > ul > li .dialouge.notifications::before {
        right: 21px;
    }

    .side-menus nav > ul {
        padding-bottom: 20px;
    }

    .button-logout-rs {
        margin-top: -10px;
    }

    .form-change {
        display: none;
    }
    .thumbnail-sec {
        display: flex;
        overflow: scroll;
        overflow-y: hidden;
    }
    .thumbnail-sec a .image {
        display: flex;
        justify-content: center;
        width: 155px;
    }
    .thumbnail-sec a .text {
        display: block;
        width: 155px;
        display: flex;
        justify-content: center;
    }
    /* .dropdown-scroll {
        position: fixed;
        top: 294px !important;
        right: 16px !important;
        left: 0;
    } */
    .dropdown-rs {
        display: block;
    }

    .wrapper-dropdown-rs {
        list-style: none;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        width: 170px;
        position: absolute;
        top: 150px !important;
        left: 212px;
        visibility: hidden;
        padding: 5px;
        background-color: #fff;
        z-index: 99;
        
        -webkit-transition:all 0s ease 0s;
        -moz-transition:all 0s ease 0s;
        -ms-transition:all 0s ease 0s;
        -o-transition:all 0s ease 0s;
        transition:all 0s ease 0s;
        background-clip: padding-box;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .wrapper-dropdown-rs.open-rs {
        visibility: visible;
    }
    .wrapper-dropdown-rs li {
        line-height: 35px;
    }
    .menu-row-rs {
        display: flex;
        flex-direction: row-reverse;
    }

    .content-select {
        display: inline-block;
        width: 100%;
    }

    .legend {
        display: inline-block;
        margin-top: 25px;
    }
    .legend li {
        border-left: 10px solid;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .legend em {
        line-height: 16px;
    }
    .wrapper-pie {
        display: flex;
        justify-content: center;
    }
    .icon-rs {
        display: none !important;
    }
    .mini-stats {
        min-height: 0;
    }

    .border-group < .selection < .select2-selection .select2-selection--multiple {
        padding: 0px !important;
    }

    .stepsForm .sf-steps-content>div.sf-active>span {
        height: 28px;
        width: 28px;
    }
    .stepsForm .sf-steps-content>div {
        padding: 7px 22px 13px 41px;
    }
    .stepsForm .sf-steps-content>div>span {
        height: 28px;
        width: 28px;
    }
    .stepsForm .sf-steps .sf-steps-content {
        display: flex;
        align-items: center;
    }
    .dash-rs {
        padding-right: 0px;
        padding-left: 0px;
    }

    .thumbnail-sec::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    .thumbnail-sec::-webkit-scrollbar:vertical {
        width: 10px;
    }
    
    .thumbnail-sec::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    
    .thumbnail-sec::-webkit-scrollbar-thumb {
        background-color: #d8f4f2;
        border-radius: 10px;
        border: 2px solid #ffffff;
    }
    
    .thumbnail-sec::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: #ffffff; 
    }

}

@media (max-width: 480px)  {
    .main-content.verification-email-active {
        padding-top: 183px !important;
    }
    .quick-stats > .row > div {
        margin-bottom: 30px;
        width: 50%;
    }
    .panel-setting {
        padding: 0 20px;
    }
    .top-bar > .logo {
        float: left;
        margin: 20px 0 3px;
        padding: 0 30px;
        width: 100%;
    }
    .top-bar form.search-form {
        display: inline-block;
        float: none;
        margin: 16px 0 0;
        padding: 0;
        width: 90%;
    }
    .top-bar > ul > li:first-child {
        margin: 0;
    }
    .top-bar > ul > li {
        margin-left: 23px;
    }
    .quick-links {
        padding-top: 0;
    }
    .heading-profile > h2 {
        font-size: 17px;
    }
    .breadcrumbs {
        margin-bottom: 0;
    }
    .main-content.wide-content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
    }
    .top-bar-chart > .quick-report {
        float: left;
        margin: 0 0 22px;
        padding: 0;
        width: 100%;
    }
    .mini-stats-sec .row > div {
        width: 100%;
    }
    .total-sales-sec {
        padding: 30px 20px;
        text-align: center;
    }
    .circle-chart {
        display: inline-block;
        float: none;
        margin: 0;
    }
    .total-sales-info {
        float: left;
        padding-top: 20px;
        width: 100%;
    }
    .total-sales-info > h3::before {
        left: 50%;
        margin-left: -50px;
    }
    .activity-sec {
        padding: 40px 20px;
    }
    .graph-details > ul > li {
        margin-top: 20px;
        width: 100%;
    }
    .graph-details > ul > li:first-child {
        margin: 0;
    }
    footer.wide-footer {
        padding: 20px 15px;
    }
    footer p {
        float: left;
        font-size: 11px;
        text-align: center;
        width: 100%;
    }
    footer ul {
        float: left;
        text-align: center;
        width: 100%;
    }
    footer ul li {
        display: inline-block;
        float: none;
    }
    .welcome-bar {
        padding: 20px;
    }
    .server-details {
        float: left;
        padding: 30px 20px;
        width: 100%;
    }
    #area-chart {
        display: inherit !important;
        float: left;
        margin-left: -16px;
        padding: 0 50px 30px 20px;
        width: 100%;
    }
    .task-managment {
        padding: 30px 20px;
    }
    .task-managment > ol > li > i {
        left: -35px;
    }
    .pieID.legend {
        padding-left: 15px;
    }
    .pie-chart-sec {
        padding: 30px 20px;
    }
    .revenew-browser {
        padding: 30px 20px;
    }
    .social-counter {
        padding: 30px 20px;
    }
    .social-widget > ul > li > i {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        width: 30px;
    }
    .social-widget > ul > li h5 {
        font-size: 14px;
    }
    .social-widget > ul > li span {
        margin-top: -5px;
    }
    .social-widget > span {
        font-size: 14px;
    }
    .visitor-country-list {
        padding: 0 20px 30px;
    }
    .tasks-progress {
        padding: 30px 20px;
    }
    .tasks-progress > ul > li {
        float: left;
        padding: 0 10px;
        width: 100%;
    }

    .user-device {
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    .activity-timeline::before {
        left: 14px;
    }
    .activity-timeline > li {
        padding-left: 50px;
    }
    .user-device::before {
        right: -8px;
    }
    .who-post-this > span {
        margin-right: 13px;
    }
    .widget-carousel > ul > li {
        padding: 0 20px;
    }
    .save-draft {
        padding: 30px 20px;
    }
    .recent-comment-sec {
        padding: 30px 20px;
    }
    .recent-comment {
        text-align: center;
    }
    .comments-avatar {
        display: inline-block;
        float: none;
        margin: 0 0 20px;
    }
    .comment-detail {
        float: left;
        width: 100%;
    }
    .chat-widget {
        padding: 30px 20px;
    }
    .welcome-bar {
        text-align: center;
    }
    .welcome-bar > i {
        display: inline-block;
        float: none;
        margin: 0 0 10px;
    }

    .profile-banner-sec > ul {
        //bottom: -15px;
    }

    .post-content iframe {
        float: left;
        width: 100%;
    }
    .collapse-sec {
        padding: 30px 20px;
    }
    .panel-group .panel > .panel-collapse .panel-body {
        padding: 20px;
    }

    .content-collapse .loading-autocomplete, .content-collapse .loading-content, .content-collapse .reload-content {
        right: 60px !important;
    }

    .our-team-area > div {
        float: left;
        width: 100%;
    }
    body .panel-content .our-team-area {
        float: left;
        padding: 0;
        width: 100%;
    }
    .product-filter {
        padding: 40px 20px;
    }
    .filter-products > div {
        float: left;
        padding: 0;
        width: 100%;
    }
    .countdown-sec {
        margin-top: 40px;
    }
    ul.countdown > li {
        margin-bottom: 12px;
    }
    .fancy-social {
        margin-top: 20px;
    }
    .fancy-social > span {
        font-size: 14px;
    }
    .commingsoon form.subscribtion {
        margin-top: 30px;
    }
    .commingsoon form.subscribtion > button {
        float: left;
        margin-top: 14px;
        width: 100%;
    }
    .contact-sec {
        padding: 30px 20px;
    }
    .contact-sec-center {
        padding: 30px 20px;
    }
    .gallery-sec > .row > div {
        float: left;
        width: 100%;
    }
    .message-list > li > p {
        float: left;
        margin-top: 6px;
        overflow: hidden;
        white-space: normal;
        width: 100%;
    }
    .message-list > li > a {
        margin-left: 15px;
    }
    .message-list > li > span.make-important {
        margin-right: 12px;
    }
    .compose-email-sec {
        padding: 0;
    }
    .form-elements-sec {
        //padding: 30px 35px;
    }
    .step-form-sec {
        padding: 30px 20px;
    }
    .pie-responsive {
        padding: 30px 20px;
    }
    #TicketByDepartmentLegends {
        padding: 0 !important;
    }
    #TicketByDepartmentLegends li span.icon {
        margin-left: 0;
    }
    #TicketByDepartmentLegends li span.label {
        margin-left: 18px;
    }
    .mini-charts {
        padding: 30px 20px;
    }
    #vector-map {
        height: 300px !important;
    }
    .mockup img {
        width: 100%;
    }
    .error-sec > h2 {
        font-size: 66px;
    }

    .account-header-link {
        margin: 18px 0 0 0;
        width: 30%;
    }

    .account-header-link > li {
        float: left;
        margin: 0;
        width: 100%;
        text-align: right;
    }
    .account-header-link > li > a {
        float: right;
        padding: 3px 0;
    }

    .account-header-link li .quick-links {
        margin: 0 0;
        padding: 0 0;
    }

    .account-header-link li ul {
        min-width: 80px;
    }

    .account-header-link li ul li {
        float: right;
        width: 100%;
        margin: 0 0;
    }

    .account-header-link {
        margin-bottom: 20px;
    }
    .widget-title > h3 {
        margin-bottom: 12px;
    }
    .accordion > h3 {
        line-height: 22px;
        padding: 20px;
    }
    .account-detail > ul > li {
        float: left;
        text-align: left;
        width: 100%;
    }
    .account-detail > ul > li > h3 {
        float: left;
        width: 100%;
    }
    .account-detail > ul > li > p {
        padding: 0 0 0 46px;
    }

    .more-option.mobile {
        margin: 30px 0;
        padding: 0;
        width: 100%;
    }
    .more-option::before {
        width: 35%;
    }
    .more-option::after {
        width: 35%;
    }

    .quick-links > ul > li .dialouge {
        right: 106px;
        
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
           -o-transform: translateX(50%);
        transform: translateX(50%);

        width: 200px;
    }
    .quick-links.app > ul > li .dialouge.profile {
        right: 150%
    }
    .quick-links > ul > li .dialouge::before {
        margin-right: -8px;
        right: 50%;
    }
    .icon-section .icon-container {
        width: 100%;
    } 


    .thumbnail-sec a {
        display: table;
        width: 100%;
    }

    .maintainance-mode {
        padding: 40px 20px 100px 20px;
        min-width: 240px;
    }

    .maintainance-mode button {
        position: absolute;
        left: 50%;
        margin-top: 60px;
        transform: translate(-50%, 0%);
    }

    .timeline-color .user-device::before {
        display: none;
    }

    table tr .hide-md {
        display: none;
    }

    table tr .show-sm {
        display: block;
    }

    .quick-links > ul > li .dialouge.notifications {
        min-width: 290px;
        right: 100px;
        max-width: 100px;
    }
    .quick-links > ul > li .dialouge.notifications::before {
        right: 57px;
    }
}
